<div class="d-none d-sm-block allFooterContent col-12 p-0" [class.active]="!footerShow">
  <input type="hidden" id="ipF">
  <div class="bottom">
    <div class="container">
      <div class="row m-0">
        <div class="col-md-3 footerTitle pl-0">
          <h4>{{'FOOTER.info' | translate}}</h4>
          <ul class="footer-links">
            <li>
              <a routerLink="./privacy" href="#">{{'FOOTER.privacyT' | translate}}</a>
            </li>
            <li>
              <a routerLink="./terms" href="#"> {{'FOOTER.termsC' | translate}}</a>
            </li>
            <li>
              <a routerLink="./about" href="#"> {{'FOOTER.aboutT' | translate}}</a>
            </li>
            <li>
              <a routerLink="./becomeatasker" href="#">{{'FOOTER.bcomea' | translate}}</a>
            </li>
            <li>
              <a routerLink="./contact-us" href="#">{{'FOOTER.contactUs' | translate}}</a>
            </li>
            <li>
              <a target="_blank" href="">{{'FOOTER.blogT' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-9 footerTitle pl-0 order-first order-md-1">
          <h4> {{'FOOTER.catT' | translate}}</h4>
          <div class="col allCatFoot p-0" *ngIf="catSearch">
            <div class="row m-0">
              <div class="col-md-4 col-sm-4 p-0 catFooter" *ngFor="let list of catSearch; let i =index;">
                <ul class="footer-links m-0">
                  <li>
                    <a (click)="typeBooking(list)">{{list.cat_name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col allCatFoot p-0" *ngIf="catSearch && catSearch.length == 0">
            <h3 class="colorGray">{{'FOOTER.noCat' | translate}}</h3>
          </div>
        </div>
      </div>
      <div class="col-12 p-0 allAppStore">
        <a class="trackable" href="">
          <img alt="App store" src="assets/images/appStore.svg">
        </a>
        <a class="trackable" href="">
          <img alt="Play store" src="assets/images/playStore.svg">
        </a>
      </div>
      <div class="footerSocialIcon col-12 p-0">
        <a class="iconLink" href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="iconLink" href="">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="iconLink" href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="iconLink" href="">
          <i class="fab fa-google-plus"></i>
        </a>
        <a class="iconLink" href="">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="allListFooter">
    <div class="container">
      <div class="row">
        <div class="col-md-4 copyRightText">
          <img src="assets/images/logo-footer.png" alt="logo-footer">
        </div>
        <div class="col-md-8 text-right copyRightText mt-0">
          <p class="copy">{{'FOOTER.copy' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <livechat-widget [licenseId]="licenseId"></livechat-widget> -->