<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="container my-3">
    <div class="row m-0">
      <div class="col-12">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-12 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="static headerFooter" [hidden]="!loaderList">
  <div class="aboutHeader">
    <h1 class="headerText">
      {{'ABOUT.title' | translate}}
    </h1>
  </div>

  <div class="allAbout col-12 p-0" *ngIf="listAbout">
    <div class="textContent col-12 p-0 py-3 py-md-5" [class.odd]="odd" [class.even]="even" *ngFor="let list of listAbout.question; let odd=odd;let even=even;">
      <div class="container">
        <h1 class="text-center">{{list.title}} </h1>
        <p class="paraText" [innerHtml]="list.description"></p>
      </div>
    </div>
    <div class="allMeetTeamList col-12 p-0 py-3 pt-md-5 pb-md-5">
      <div class="container">
        <div class="col-12 allVisinorList" *ngIf="listAbout.visinor">
          <h1 class="text-center">{{'ABOUT.teamT' | translate}}</h1>
          <div class="col-12 p-0 row m-0 allVisinor">
            <div class="col-lg-4 col-md-6 col-12 allContent p-0 cursor" *ngFor="let list of listAbout.visinor">
              <div class="whiteContent text-center">
                <img src="{{list.visinorImages}}" alt="{{list.visinorName}}" class="imgList">
                <div class="title">{{list.visinorName}}</div>
                <div class="titleText">{{list.visinorDesignation}}</div>
                <a href="{{list.visinorFacebook}}" class="socialLink" *ngIf="list.visinorFacebook">
                  <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Ffacebook.svg" class="socialLinkImg">
                </a>
                <a href="{{list.visinorLinkedin}}" class="socialLink" *ngIf="list.visinorLinkedin">
                  <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Flinkedin.svg" class="socialLinkImg">
                </a>
                <a href="{{list.visinorTwitter}}" class="socialLink" *ngIf="list.visinorTwitter">
                  <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Ftwitter.svg" class="socialLinkImg">
                </a>
              </div>
              <div class="hoverContent">
                <div class="hoverImgList">
                  <img src="{{list.visinorImages}}" alt="{{list.visinorName}}" class="visinImg">
                </div>
                <div class="contentText">
                  <h4 class="title">{{list.visinorName}}</h4>
                  <h5 class="titleText">{{list.visinorDesignation}}</h5>
                  <a href="{{list.visinorFacebook}}" class="socialLink" *ngIf="list.visinorFacebook">
                    <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Ffacebook.svg" class="socialLinkImg">
                  </a>
                  <a href="{{list.visinorLinkedin}}" class="socialLink" *ngIf="list.visinorLinkedin">
                    <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Flinkedin.svg" class="socialLinkImg">
                  </a>
                  <a href="{{list.visinorTwitter}}" class="socialLink" *ngIf="list.visinorTwitter">
                    <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Ftwitter.svg" class="socialLinkImg">
                  </a>
                </div>
                <div class="description col-12 p-0">{{list.visinorDescription}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 allVisinorList d-none" *ngIf="listAbout.investor">
      <h1 class="text-center">{{'ABOUT.teamIn' | translate}}</h1>
      <div class="col-12 p-0 row m-0 mb-3 allVisinor">
        <div class="col-6 p-0 cursor text-center InvestorsList allVisinor" *ngFor="let list of listAbout.investor">
          <div class="col-12">
            <img src="{{list.investorImages}}" alt="{{list.investorName}}" class="imgList">
            <div class="allTextHover">
              <div class="contentInvestor">
                <div class="title">{{list.investorName}}</div>
                <div class="titleText">{{list.investorDesignation}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>