
<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-md-4 p-0">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
      <div class="col-md-8 d-none d-md-block p-0">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-6 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
              <div class="col-6 p-0">
                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="providerReviewList col-12 p-0" [hidden]="!loaderList">
  <div class="addPriceList providerList col p-0" [hidden]="providerRw" style="background: #e9ecee;">
    <div class="contentTitle col">
      <div class="container">
        <div class="row m-0">
          <i class="fas fa-angle-left arrowProvider d-md-none" [class.d-none]="arrow == 1" [class.d-block]="arrow > 1" (click)="arrowChange(-1)"></i>
          <i class="ion-arrow-left-c ionClose arrowProvider d-md-none" style="top: 2px;" [class.d-block]="arrow == 1" [class.d-none]="arrow > 1"
            (click)="backClicked()"></i>
          <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.d-none]="arrow != 1" [class.d-block]="arrow == 1">
            <img class="secondaryimg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/TtaskDetails.svg">
            <span class="title color"> {{'PROVIDER.menuT' | translate}}</span>
          </div>
          <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.d-none]="arrow != 2" [class.d-block]="arrow == 2">
            <img class="secondaryimg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/TviewPrice.svg">
            <span class="title"> {{'PROVIDER.menuT1' | translate}} </span>
          </div>
          <div class="col-12 col-md-4 p-0 spanListContent d-md-block" [class.d-none]="arrow != 3" [class.d-block]="arrow == 3">
            <img class="secondaryimg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/TcBook.svg">
            <span class="title"> {{'PROVIDER.menuT2' | translate}} </span>
          </div>
          <!-- <i class="fas fa-angle-right arrowProvider d-block d-md-none" [class.d-none]="arrow == 3" [class.d-block]="3 > arrow" (click)="arrowChange(1)"></i> -->
        </div>
        <div class="col-12 p-0 spanListContent text-left">
          <h1 class="titles colorGray"> {{catName}} </h1>
          <h1 class="titles color bookingTypeList pl-sm-2 pl-md-5" (click)="typeBooking()">
            <span class="tiltle">{{bookTitle}}, {{bookDate}}</span>
            <i class="far fa-edit editType pl-2"></i>
          </h1>
        </div>
      </div>
    </div>

    <div class="container px-0 px-sm-3 py-3 py-sm-5">
      <div class="providerSelect col p-0 row m-0 bg-white">

        <div class="listfilter col-12 col-md-4 p-0 border-right d-none d-md-block" [class.filter]="filterLists">
          <div class="titleFilter col-12 d-inline-block py-2 pt-3">
            <h5 class="filterTitle d-inline-block float-right float-md-left m-0">{{'PROVIDER.filter' | translate}}</h5>
            <h5 class="cancelTitle d-inline-block d-md-none text-danger float-left cursor m-0" (click)="filtersList()">{{'PROVIDER.cancel' | translate}}</h5>
          </div>
          <div class="allFilterContent col-12 p-0">
            <div class="subcatList col-12 p-0">
              <div class="listBrowseTitle"> {{'PROVIDER.jobL' | translate}}</div>
              <ul class="sideList listStyle p-0 m-0">
                <li class="sideListLi textEllipse">
                  <span class="ion-ios-location"></span>
                  <input type="text" class="location form-control focus px-4" id="changeLocationId" (keyup)="changeLocation()" placeholder="{{'PROVIDER.changeLoc' | translate}}"
                    value="">
                  <span class="fas fa-times iconClose" (click)="cancelField()"></span>
                  <input type="hidden" name="" value="" id="latS" class="headerSearch form-control">
                  <input type="hidden" name="" value="" id="lngS" class="headerSearch form-control">
                  <input type="hidden" name="" value="" id="cityS" class="headerSearch listNew form-control">
                </li>
              </ul>
            </div>
            <div class="subcatList col-12 p-0" *ngIf="providerListCat && providerListCat.category">
              <div class="listBrowseTitle"> {{'PROVIDER.dist' | translate}}</div>
              <ul class="sideList listStyle distanceList p-0 m-0">
                <li class="sideListLi pb-4">
                  <!-- <div id="slider">
                <input class="bar" type="range" id="rangeinput" min="0" step="1" max="50" value="0" onchange="rangevalue.value=value" />
                <span class="highlight"></span>
                <output id="rangevalue">0</output>
              </div> -->
                  <div class="slidecontainer">
                    <input type="range" min="0" max="50" value="0" class="slider slider_range" id="myRange" #dP (change)="distanceList(dP.value)">
                    <output id="rangevalue">{{distance}}</output>
                    <div class="row m-0 text-center">
                      <span class="kmTitle">0
                        <br>
                        <span *ngIf="providerListCat.category.distanceMatrix == 0">{{'PROVIDER.km' | translate}} </span>
                        <span *ngIf="providerListCat.category.distanceMatrix == 1">{{'PROVIDER.miles' | translate}} </span>
                        <span *ngIf="providerListCat.category.distanceMatrix == 2">{{'PROVIDER.miles' | translate}} </span>
                      </span>
                      <span class="col-2 p-0">|</span>
                      <span class="col-2 p-0">|</span>
                      <span class="col-2 p-0">|</span>
                      <span class="col-2 p-0">|</span>
                      <span class="col-2 p-0">|</span>
                      <span class="col-2 p-0">|</span>
                      <span class="kmTitle" style="right: 5px;">50
                        <br>
                        <span *ngIf="providerListCat.category.distanceMatrix == 0">{{'PROVIDER.km' | translate}} </span>
                        <span *ngIf="providerListCat.category.distanceMatrix == 1">{{'PROVIDER.miles' | translate}} </span>
                        <span *ngIf="providerListCat.category.distanceMatrix == 2">{{'PROVIDER.miles' | translate}} </span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="subcatList col-12 p-0" *ngIf="providerListCat && providerListCat.subCategoryData && providerListCat.subCategoryData.length > 0">
              <div class="listBrowseTitle"> {{'PROVIDER.cat' | translate}}</div>
              <ul class="sideList listStyle p-0 m-0">
                <div class="col-12 p-0 catList">
                  <li class="sideListLi textEllipse" id="{{i}}sCat" (click)="subCat(i)" *ngFor="let list of providerListCat.subCategoryData; let i = index;">
                    <img class="catLine" src="{{list.Website_banner_image_url}}">
                    <!-- <input type="checkbox" class="radioClass" name="category"> -->
                    <span class="sortColor"> {{list.sub_cat_name}} </span>
                    <i class="ion-checkmark-round checkMark"></i>
                  </li>
                </div>
                <!-- <li class="sideListLi text-center col-12" *ngIf="catList && catList.length >= 10">
                <span class="color" *ngIf="!loadCateg" (click)="loadCat()"> Showmore}} </span>
                <span class="color" *ngIf="loadCateg" (click)="loadCat()"> Showless}} </span>
              </li> -->
              </ul>
            </div>

            <div class="subcatList col-12 p-0" *ngIf="providerListCat && providerListCat.category.service_type == '2' && providerListCat.category.billing_model != '5'">
              <div class="listBrowseTitle"> {{'PROVIDER.price' | translate}}</div>
              <ul class="sideList listStyle row p-0 m-0">
                <li class="sideListLi col-12 col-sm-6">
                  <div class="col-12 p-0 distanceMinMax">{{'PROVIDER.from' | translate}}
                    <span class="title" *ngIf="providerListCat.category.currencyAbbr==1">({{'PROVIDER.min' | translate}}:{{providerListCat.category.currencySymbol}} {{providerListCat.category.minimum_fees}})</span>
                    <span class="title" *ngIf="providerListCat.category.currencyAbbr==2">({{'PROVIDER.min' | translate}}:{{providerListCat.category.minimum_fees}} {{providerListCat.category.currencySymbol}} )</span>
                  </div>
                  <div class="col-12 p-0">
                    <input type="number" name="minFees" [(ngModel)]="minFees" (change)="minPrice(providerListCat.category.minimum_fees, providerListCat.category.miximum_fees)"
                      min="{{providerListCat.category.minimum_fees}}" max="{{providerListCat.category.miximum_fees}}" class="form-control focus from1"
                      id="fromToPricingInput">
                  </div>
                </li>
                <li class="sideListLi col-12 col-sm-6">
                  <div class="col-12 p-0 distanceMinMax">{{'PROVIDER.to' | translate}}
                    <span class="title" *ngIf="providerListCat.category.currencyAbbr==1">({{'PROVIDER.max' | translate}}:{{providerListCat.category.currencySymbol}} {{providerListCat.category.miximum_fees}})</span>
                    <span class="title" *ngIf="providerListCat.category.currencyAbbr==2">({{'PROVIDER.max' | translate}}:{{providerListCat.category.miximum_fees}} {{providerListCat.category.currencySymbol}})</span>
                  </div>
                  <div class="col-12 p-0">
                    <input type="number" name="maxFees" [(ngModel)]="maxFees" min="{{providerListCat.category.minimum_fees}}" max="{{providerListCat.category.miximum_fees}}"
                      class="form-control focus to1" (change)="maxPrice(providerListCat.category.minimum_fees, providerListCat.category.miximum_fees)"
                      id="fromToPricingInput">
                  </div>
                </li>
                <div class="text-danger text-center col-12 p-0" *ngIf="errMsg">{{errMsg}}</div>
              </ul>
            </div>
            <div class="text-danger text-center col-12 p-0" *ngIf="ErrMsg">{{ErrMsg}}</div>
          </div>
          <!-- <div class="subcatList col-12 p-0" *ngIf="providerList && providerList.category">
            <div class="listBrowseTitle"> Schedule</div>
            <ul class="sideList listStyle row p-0 m-0">
              <li class="sideListLi textEllipse" [class.color]="bookingType == 1" (click)="typeBooking(1)" *ngIf="providerList.category.bookingTypeAction.now == true">
                <img class="catLine" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png">
                <span class="sortColor"> Book Now </span>
              </li>
              <li class="sideListLi textEllipse" [class.color]="bookingType == 2" (click)="typeBooking(2)" *ngIf="providerList.category.bookingTypeAction.schedule == true">
                <img class="catLine" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png">
                <span class="sortColor"> Schedule </span>
              </li>
              <li class="sideListLi textEllipse" *ngIf="providerList.category.bookingTypeAction.repeat == true">
                <img class="catLine" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png">
                <span class="sortColor"> Repeat </span>
              </li>
            </ul>
          </div> -->
          <div class="btnListSelect col-12 p-0 text-center" (click)="filterContentList();">
            <div class="loaderSpin" *ngIf="filterLoader" style="top: 20%;margin:0;left: 45%;"></div>
            <span class="btnReview col-12 m-0">{{'PROVIDER.applyFil' | translate}}</span>
          </div>
        </div>

        <div class="listfilterProvider col-12 col-md-8 p-0">
          <h5 class="pl-4 py-2 d-none d-md-block" style="color: transparent">{{'PROVIDER.searchTask' | translate}}</h5>
          <div class="contentProvider col-12 p-2 p-sm-3 pt-md-0">
            <!-- <div class="searchInput col-12 p-0 d-none d-md-block">
              <img class="iconSearch" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/searchIcon.svg">
              <input type="text" name="" #sP (keyup)="searchProvider(sP.value)" class="form-control searchProvider focus pl-5" placeholder="who are you looking for?">
            </div> -->
            <div class="searchInput smallInput col-12 px-0 py-2">
              <img class="iconSearch" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/searchIcon.png">
              <input type="text" name="" #sP (keyup)="searchProvider(sP.value)" class="form-control searchProvider focus px-5" placeholder="{{'PROVIDER.who' | translate}}">
              <i class="ion-ios-settings-strong editType d-block d-md-none" (click)="filtersList()"></i>
            </div>
            <div class="loaderSpin loaderPage" *ngIf="provideLoader"></div>
            <div class="provideReview col-12 p-0" *ngIf="providerList && !provideLoader">
              <div class="reviewList col-12 p-0" *ngFor="let list of providerList.provider">
                <div class="providerProfile col-12 allProviderImg cursor" (click)="reviewList(list.id)">
                  <div class="imgProfile col-12 p-0">
                    <div class="imgSize">
                      <img src="{{list.image}}" class="imgProvide" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'">
                      <span class="onlineStatus" [class.active]="list.status == 1"></span>
                    </div>
                    <div class="titleText col-12 p-0 pl-2 pl-sm-3">
                      <div class="titleList col-12 p-0">
                        <div class="textTi">{{list.firstName}} {{list.lastName}}</div>
                        <div class="textTi textTit" *ngIf="list.price && list.currencyAbbr==1 && providerList.category.billing_model != '5'">{{list.currencySymbol}} {{list.price}}</div>
                        <div class="textTi textTit" *ngIf="list.price && list.currencyAbbr==2 && providerList.category.billing_model != '5'">{{list.price}} {{list.currencySymbol}} </div>
                      </div>
                      <div class="titleGray col-12 p-0">
                        <div class="textTi" *ngIf="list.averageRating">
                          <i class="icon ion-star color"></i> {{list.averageRating}}</div>
                        <div class="textTi textTit">{{list.distance}}
                          <span *ngIf="list.distanceMatrix == 0">{{'PROVIDER.km' | translate}} </span>
                          <span *ngIf="list.distanceMatrix == 1">{{'PROVIDER.miles' | translate}} </span>
                          <span *ngIf="list.distanceMatrix == 2">{{'PROVIDER.yards' | translate}} </span>
                          {{'PROVIDER.away' | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contentReview col-12 p-0 d-none d-sm-block" *ngIf="list.review">
                  <div class="colorGray pl-3">{{'PROVIDER.reviews' | translate}} ({{list.reviewCount}})</div>
                  <div class="providerProfile col-12 bg-white h-auto" *ngFor="let review of list.review">
                    <div class="imgProfile col-12 p-0 cursor" (click)="reviewList(list.id)">
                      <div class="imgSize">
                        <img src="{{review.profilePic}}" class="imgProvide" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'">
                      </div>
                      <div class="titleText col-12 p-0" [class.top]="review.review">
                        <div class="titleList col-12 p-0">
                          <div class="textTi">{{review.firstName}} {{review.lastName}}</div>
                        </div>
                        <div class="titleGray col-12 p-0">
                          <div class="textTi">
                            <i class="icon ion-star color"></i> {{review.rating}}</div>
                          <div class="textTi textTit">{{review.reviewAt}}</div>
                        </div>
                        <div class="titleGray col-12 p-0">
                          <div class="textTi">{{review.review}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btnListSelect col-12 text-right  d-none d-sm-block">
                  <span class="btnReview bg-white color" *ngIf="list.review" (click)="reviewList(list.id)">{{'PROVIDER.reviewPro' | translate}}</span>
                  <span class="btnReview" (click)="selectProvider(list.id)">{{'PROVIDER.selectC' | translate}}</span>
                </div>
              </div>
            </div>
            <div class="emptyData text-center col-12 p-3" *ngIf="providerList && providerList.provider.length == 0 && !provideLoader">
              <img class="emptyList" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/noProvider.png">
              <div class="col-12 p-0 colorGray">{{'PROVIDER.noP' | translate}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!--booking schedule -->
<div class="modal fade boxPopup" id="notaryTask" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0">
      <div class="modal-header">
        <h3 class="title col-12 p-0 text-center">{{catName}}</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body locationList">

        <div class="allStepList col-12">
          <div class="titleList text-center">{{'PROVIDER.bookingT' | translate}}</div>
          <div class="bookingForm col p-0 row m-0" *ngIf="bookingList">
            <div class="asaSchedule col-4" (click)="asapSchedules(0)" *ngIf="bookingList.bookingTypeAction.now == true">
              <div class="titleContent col-12" [class.active]="!asapSchedule">
                <div class="title">{{'PROVIDER.asap' | translate}}</div>
                <div class="titles">{{'PROVIDER.rightN' | translate}}</div>
              </div>
            </div>
            <div class="asaSchedule col-4" (click)="asapSchedules(1)" *ngIf="bookingList.bookingTypeAction.schedule == true">
              <div class="titleContent col-12" [class.active]="asapSchedule">
                <div class="title">{{'PROVIDER.schedule' | translate}}</div>
                <div class="titles">{{'PROVIDER.selectD' | translate}}</div>
              </div>
            </div>
            <!-- <div class="asaSchedule col-4" *ngIf="bookingList.bookingTypeAction.repeat == true">
              <div class="titleContent active col-12">
                <div class="title">SUBSCRIBE</div>
                <div class="titles">Select Schedule</div>
              </div>
            </div> -->
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="!asapSchedule">
            <div class="titleList text-center col-12">{{'PROVIDER.selectDate' | translate}}</div>
            <div class="col-12 p-0 selectDate row m-0">
              <div class="asaSchedule col-4" *ngFor="let list of sendDate;let i = index">
                <div class="titleContent col-12" [class.active]="list.active" (click)="selectDate(i)">
                  <div class="titles">{{list.day}}</div>
                  <div class="title">{{list.date}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4">
                <div class="titleContent col-12" [class.otherDate]="otherDate" (click)="selectDate('Ds')">
                  <div class="titles">{{'PROVIDER.othersT' | translate}}</div>
                  <input class="form-control BtypePicker" name="pickup_date" type="text" placeholder="yyyy-mm-dd">
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectTime">
              <div class="titleList text-center">{{'PROVIDER.selectT' | translate}}</div>
              <input class="form-control BtypeTimePicker" name="pickup_time" type="text" placeholder="hh:ss">
              <!-- <select name="" class="form-control selectControl">
                <option value="" *ngFor="let list of sendTime">{{list.hour}} - {{list.nexthour}}</option>
              </select> -->
            </div>
            <div class="col-12 p-0 selectTime mt-3">
              <div class="titleList text-center">{{'PROVIDER.addNHrs' | translate}}</div>
              <div class="col-12 p-0 text-center cursor addHours">
                <span class="qtyAdd" (click)="addHour(-1)">-</span>
                <span class="qtyNos qtyAdd color">{{count}}</span>
                <span class="qtyAdd" (click)="addHour(1)">+</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-0 border-0">
        <div class="col-12 btnNext footerNext">
          <span class="col-12 col-sm-3 p-0 float-right">
            <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="dateChange()">{{'PROVIDER.next' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>