<div class="static headerFooter">
  <div class="container">
    <h1 class="title">{{'Terms.title' | translate}}</h1>
    <div class="allFrame" style="position:relative;height:100%;">
      <iframe src="https://admin.tourangels.it/supportText/provider/en_termsAndConditions.php" class="iframeList" width="100%"
        height="100%" style="border: none"></iframe>
    </div>

  </div>
</div>