<div class="static headerFooter">
  <div class="container">
    <h1 class="title">Privacy Policy</h1>
    <div class="allFrame" style="position:relative;height:100%;">
      <iframe src="https://admin.tourangels.it/supportText/provider/en_privacyPolicy.php" class="iframeList col-12 p-0" style="border: none"></iframe>
    </div>

  </div>
</div>