<div class="viewPriceShimmer col p-0" [hidden]="loaderPage">
    <div class="linear-background slider mb-3"></div>
    <div class="container">
        <div class="row m-0">
            <div class="col-12 col-md-4 p-0">
                <div class="carouselList" *ngFor="let list of shimmer">
                    <div class="linear col p-0 mb-4">
                        <div class="linear-background big mb-2 col-6 col-md-3"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                    </div>
                    <div class="linear col-12 mb-4">
                        <div class="row m-0 mb-2">
                            <div class="col-6 p-0">
                                <div class="linear-background big col-6 mb-2"></div>
                                <div class="linear-background big col-2 col-md-1"></div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
                            </div>
                        </div>
                        <div class="linear-background big mb-2 col-12"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-none d-md-block p-0">
                <div class="carouselList" *ngFor="let list of shimmer">
                    <div class="linear col p-0 mb-4">
                        <div class="linear-background big mb-2 col-6 col-md-3"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                    </div>
                    <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
                        <div class="row m-0 mb-2">
                            <div class="col-6 p-0">
                                <div class="linear-background big col-6 mb-2"></div>
                                <div class="linear-background big col-2 col-md-1"></div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="linear-background big col-6 col-md-2 float-right" style="height: 35px;"></div>
                            </div>
                        </div>
                        <div class="linear-background big mb-2 col-12"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                        <div class="linear-background big mb-2 col-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkoutList accountList col" [hidden]="!loaderPage" [ngClass]="{headerrestOpen: headerrestOpen}">
    <div class="container p-0">
        <div class="accountContent col-12 p-0 pt-2 pb-5">

            <div class="profileList fixedHead col-12" *ngIf="listProfile && profileShow">
                <div class="small screenImg d-inline-block float-left d-block d-md-none mx-3">
                    <img src="{{listProfile.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'">
                </div>
                <div class="nameList float-md-left">
                    <span class="title">{{listProfile.firstName}}</span>
                    <br>
                    <!-- <span class="titles mobileno"></span>. -->
                    <span class="titles email">{{listProfile.email}}</span>
                </div>
                <div class="editProfile float-md-right">
                    <span class="title" (click)="editProfile()">{{'ACCOUNT.eTitle' | translate}}</span>
                </div>
            </div>

            <div class="profileList col-12" *ngIf="listProfile && profileShow">
                <div class="small screenImg d-inline-block float-left d-block d-md-none mx-3">
                    <img src="{{listProfile.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'">
                </div>
                <div class="nameList float-md-left">
                    <span class="title">{{listProfile.firstName}}</span>
                    <br>
                    <!-- <span class="titles mobileno"></span>. -->
                    <span class="titles email">{{listProfile.email}}</span>
                </div>
                <div class="editProfile float-md-right">
                    <span class="title" (click)="editProfile()">{{'ACCOUNT.eTitle' | translate}}</span>
                </div>
            </div>

            <div class="boxCheckout addressList changeContent col-12 m-0 p-0">
                <div class="paymentList row m-0 col-12 p-0">
                    <div class="listUl col-12 col-md-3 p-0 d-none d-md-block">
                        <ul class="listPayment">
                            <li class="title list_card active" (click)="paymentNavMenu(1);" id="1paynavMenu">{{'ACCOUNT.myBookingT' | translate}}</li>
                            <!-- <li class="title list_card" (click)="paymentNavMenu(2);" id="2paynavMenu">{{'ACCOUNT.sTitle2}}</li> -->
                            <li class="title list_card" (click)="paymentNavMenu(3);" id="3paynavMenu">{{'ACCOUNT.sTitle3' | translate}}</li>
                            <li class="title list_card" (click)="paymentNavMenu(4);" id="4paynavMenu">{{'ACCOUNT.sTitle4' | translate}}</li>
                        </ul>
                    </div>
                    <div class="allChangeContent col-12 col-md-9 p-0">

                        <div class="list_card_information col-12 active" id="1payNavMenu">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" id="1menu" href="#menu1">{{'ACCOUNT.menu1' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" id="2menu" href="#menu2">{{'ACCOUNT.menu2' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" id="3menu" href="#menu3">{{'ACCOUNT.menu3' | translate}}</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="allListOrder onGoingOrder col-12 p-0 tab-pane active" id="menu1" *ngIf="pending">
                                    <div class="grayColor col-12 p-0 my-3 text-center" *ngIf="pending && pending.length == 0">
                                        <img class="noBooking" src="assets/images/noBooking.png">
                                        <h6 class="h6text">{{'ACCOUNT.GordersE' | translate}}</h6>
                                    </div>
                                    <div class="row m-0">
                                        <div class="allProfileList col-12 col-md-6 pl-0" *ngFor="let list of pending;let onGoingIndex = index;">
                                            <div class="listInformation col-12" (click)="listBooking(list, 0)">
                                                <div class="imgRestList h-auto col-12 p-0" style="background-image: none">
                                                    <!-- <div class="restImg">
                                                        <img class="imgs" src="{{list.profilePic}}" onError="this.src='assets/images/storeEmpty.png'" height="160" width="240" alt="">
                                                    </div> -->
                                                    <div class="titleRest col-12 p-0">
                                                        <!-- <div class="title textEllipse">{{list.firstName}}</div> -->
                                                        <div class="idOrder">{{list.bookingRequestedFor}}</div>
                                                        <div class="idOrder">{{'ACCOUNT.bidT' | translate}}:{{list.bookingId}}</div>
                                                        <div class="idOrder textEllipse" *ngIf="list.status!=15" [class.text-primary]="list.status==11 || list.status==12 || list.status==4 || list.status==1"
                                                            [class.text-success]="list.status==10" [class.text-danger]="list.status==5">{{list.statusMsg}}</div>
                                                        <div class="timeOrder color" *ngIf="list.status!=15"> {{list.timing}}
                                                            <div class="tickMark">
                                                                <span class="selectedTick ion-checkmark-round"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="priceList col-12 p-0 pt-2 d-inline-block">
                                                    <div class="totalTitle" *ngIf="list.totalAmount != 'NaN'">
                                                        {{'ACCOUNT.TAmnt' | translate}}: {{list.currencySymbol}} {{list.totalAmount}}
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allListOrder onGoingOrder col-12 p-0 tab-pane" id="menu2" *ngIf="upcoming">
                                    <div class="grayColor col-12 p-0 my-3 text-center" *ngIf="upcoming && upcoming.length == 0">
                                        <img class="noBooking" src="assets/images/noBooking.png">
                                        <h6 class="h6text">{{'ACCOUNT.GordersE' | translate}}</h6>
                                    </div>
                                    <div class="row m-0">
                                        <div class="allProfileList col-12 col-md-6 pl-0" *ngFor="let list of upcoming;let onGoingIndex = index;">
                                            <div class="listInformation col-12" (click)="listBooking(list, 1)">
                                                <div class="imgRestList col-12">
                                                    <div class="restImg">
                                                        <img class="imgs" src="{{list.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                                            height="160" width="240" alt="">
                                                    </div>
                                                    <div class="titleRest col-10 col-md-8 pr-0">
                                                        <div class="title textEllipse">{{list.firstName}}</div>
                                                        <div class="idOrder">{{list.bookingRequestedFor}}</div>
                                                        <div class="idOrder">{{'ACCOUNT.bidT' | translate}}:{{list.bookingId}}</div>
                                                        <div class="idOrder textEllipse color">{{list.statusMsg}}</div>
                                                    </div>
                                                </div>
                                                <div class="priceList col-12 p-0 pt-2 d-inline-block">
                                                    <div class="totalTitle" *ngIf="list.totalAmount != 'NaN'">
                                                        {{'ACCOUNT.TAmnt' | translate}}: {{list.currencySymbol}} {{list.totalAmount}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="allListOrder onGoingOrder col-12 p-0 tab-pane" id="menu3" *ngIf="past">
                                    <div class="grayColor col-12 p-0 my-3 text-center" *ngIf="past && past.length == 0">
                                        <img class="noBooking" src="assets/images/noBooking.png">
                                        <h6 class="h6text">{{'ACCOUNT.GordersE' | translate}}</h6>
                                    </div>
                                    <div class="row m-0">
                                        <div class="allProfileList col-12 col-md-6 pl-0" *ngFor="let list of past;let onGoingIndex = index;">
                                            <div class="listInformation col-12" (click)="listBooking(list, 2)">
                                                <div class="imgRestList col-12">
                                                    <div class="restImg">
                                                        <img class="imgs" src="{{list.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                                            height="160" width="240" alt="">
                                                    </div>
                                                    <div class="titleRest col-10 col-md-8 pr-0">
                                                        <div class="title textEllipse">{{list.firstName}}</div>
                                                        <div class="idOrder">{{list.bookingRequestedFor}}</div>
                                                        <div class="idOrder textEllipse" [class.text-primary]="list.status==4" [class.text-success]="list.status==10" [class.text-danger]="list.status==5 || list.status==11 || list.status==12">{{list.statusMsg}}</div>
                                                    </div>
                                                </div>
                                                <div class="priceList col-12 p-0 pt-2 d-inline-block">
                                                    <div class="totalTitle" *ngIf="list.totalAmount != 'NaN'">
                                                        {{'ACCOUNT.TAmnt' | translate}}: {{list.currencySymbol}} {{list.totalAmount}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="list_card_information savedCard col-12" id="3payNavMenu">
                            <div class="allListOrder col-12 p-0" *ngIf="!accountCard">
                                <!-- <h1 class="textTitle">{{'ACCOUNT.payTitle' | translate}}</h1> -->
                                <!-- <div class="headerPayment col-12 p-0">
                                    <h5 class="h5text">{{'ACCOUNT.sCards' | translate}}</h5>
                                </div> -->
                                <div class="col-12 contentTextPayment walletList p-0 mt-4">
                                    <div class="currentCreditTitle col-12 p-0 text-center" [class.d-none]="walletCart" [class.d-md-block]="walletCart">
                                        <div class="priceCard" *ngIf="walletMoney">
                                            <div class="priceCardTitle">{{'ACCOUNT.currentCredit' | translate}}</div>
                                            <div class="priceCardBold">{{walletMoney.currencySymbol}} {{walletMoney.walletAmount}}
                                            </div>
                                            <span class="limitHolder">{{'ACCOUNT.softL' | translate}} :
                                                <span class="limitTitle">{{walletMoney.currencySymbol}} {{walletMoney.softLimit}}</span>
                                            </span>
                                            <span class="limitHolder">{{'ACCOUNT.hardL' | translate}} :
                                                <span class="limitTitle hardLimit">{{walletMoney.currencySymbol}} {{walletMoney.hardLimit}}</span>
                                            </span>
                                        </div>
                                        <div class="recentTitle" (click)="recentTrns()">
                                            {{'ACCOUNT.recentTra' | translate}}
                                        </div>
                                    </div>
                                    <hr class="col-12 p-0" [class.d-none]="walletCart" [class.d-md-block]="walletCart">
                                    <div class="row m-0 col-12 p-0 walletAddCart">
                                        <div class="cartListNew col-12 col-lg-6 pl-md-0 mb-3" [class.d-none]="!walletCart" [class.d-md-block]="!walletCart">
                                            <div class="creditCard col-12">
                                                <h3 class="cardHeader">{{'ACCOUNT.payCard' | translate}}</h3>
                                                <div class="col-12 formCredit p-0" *ngIf="payGetCartList && payGetCartList.length == 0">
                                                    <h6 class="h6text">{{'ACCOUNT.sCardsE' | translate}}</h6>
                                                </div>
                                                <div class="paymentgetCart col-12" [class.active]="getCart.checked" *ngFor="let getCart of payGetCartList; let i = index">
                                                    <span class="radioPayment" (click)="selectPayments(i);">
                                                        <span class="round_click p-0 activeGetCart">
                                                            <span class="round_click_image"></span>
                                                        </span>
                                                    </span>
                                                    <span class="lastDigitDetail">
                                                        <span class="typeBrandImg lastDigitName listDigit">
                                                            <img *ngIf="getCart.brand=='Amex'" class="imageBrand" src="assets/images/cardamex.svg">
                                                            <img *ngIf="getCart.brand=='Diners'" class="imageBrand" src="assets/images/carddiners.svg">
                                                            <img *ngIf="getCart.brand=='Discover'" class="imageBrand" src="assets/images/carddiscover.svg">
                                                            <img *ngIf="getCart.brand=='Jcb'" class="imageBrand" src="assets/images/cardjcb.svg">
                                                            <img *ngIf="getCart.brand=='MasterCard'" class="imageBrand" src="assets/images/cardmastercard.svg">
                                                            <img *ngIf="getCart.brand=='Placeholder'" class="imageBrand" src="assets/images/cardplaceholdercard.svg">
                                                            <img *ngIf="getCart.brand=='Visa'" class="imageBrand" src="assets/images/cardvisa.svg">
                                                        </span>
                                                        <span class="lastDigit lastDigitName">XXXX XXXX XXXX {{getCart.last4}}</span>
                                                        <span class="deleteGetCartPay lastDigitName fa fa-trash" aria-hidden="true" (click)="deleteGetCart(i, getCart.id);"></span>
                                                    </span>
                                                </div>
                                                <div class="col-12  text-danger listGetSelect" style="display: none;text-align:center;"> {{'ACCOUNT.sCart' | translate}}</div>
                                                <div class="addCardBtns col-12" (click)="cardToggle();">
                                                    {{'ACCOUNT.newCardT' | translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cartListNew col-12 col-lg-6 pl-md-0 mb-3" [class.d-none]="walletCart" [class.d-md-block]="walletCart">
                                            <div class="creditCard col-12">
                                                <h3 class="cardHeader">{{'ACCOUNT.PayAmnt' | translate}}</h3>
                                                <div class="walletInput col-12 p-0">
                                                    <span class="currencyWallet" *ngIf="walletMoney">{{walletMoney.currencySymbol}}</span>
                                                    <input type="text" name="addMoney" [(ngModel)]="addMoney" class="form-control inputWallet focus" placeholder="{{'ACCOUNT.Amount' | translate}}">
                                                </div>
                                                <div class="text-danger py-2" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>

                                                <button type="button" [disabled]="!addMoney" class="addCardBtns confirmPay col-12" data-toggle="modal" data-target="#payWallet">
                                                    <!-- <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;left: 45%;"></div> -->
                                                    {{'ACCOUNT.confirmPay' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list_card_information col-12" id="4payNavMenu">
                            <div class="allListOrder col-12 p-0">
                                <div class="headerPayment col-12 p-0 pl-2 mb-3 d-inline-block">
                                    <h5 class="h5text float-left">{{'ACCOUNT.mAdress' | translate}}</h5>
                                    <h5 class="h5text float-right px-3" (click)="closeOpenSearch()">
                                        <span class="fa fa-plus color mr-2" aria-hidden="true"></span>
                                        <span class="titleWallet cursor">{{'ACCOUNT.addNewAddress' | translate}}</span>
                                    </h5>
                                </div>
                                <!-- <h1 class="textTitle">{{'ACCOUNT.mAdress' | translate}}</h1> -->
                                <div class="grayColor col-12 p-0" *ngIf="savedAddress && savedAddress.length == 0">
                                    <h6 class="h6text px-2">{{'ACCOUNT.mAdressE' | translate}}</h6>
                                </div>
                                <div class="selectAddress row m-0 col-12 p-0" *ngIf="savedAddress">
                                    <div class="listAddressAll col-12 col-sm-6 px-2 mb-3" *ngFor="let list of savedAddress; let i = index;">
                                        <div class="listAddress col-12">
                                            <div class="addressLogo" *ngIf="list.taggedType == 1">
                                                <img class="iconAddress" src="assets/images/ChomeIcon.svg" title="home">
                                            </div>
                                            <div class="addressLogo" *ngIf="list.taggedType == 2">
                                                <img class="iconAddress" src="assets/images/CworkIcon.svg" title="work">
                                            </div>
                                            <div class="addressLogo" *ngIf="list.taggedType == 3">
                                                <img class="iconAddress" src="assets/images/CothersIcon.svg" title="other">
                                            </div>
                                            <div class="allListAddress col-12 p-0">
                                                <div class="title">{{list.taggedAs}}</div>
                                                <div class="street">
                                                    {{list.addLine1}}
                                                </div>
                                                <div class="editDeleteAccount co-12 p-0">
                                                    <span class="title" (click)="editAddress(i)">{{'ACCOUNT.EditTitle' | translate}}</span>
                                                    <span class="title" (click)="deleteAddressList(list._id, i)">{{'ACCOUNT.Deltitle' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- order Details -->
<div class="sidePopupOpen" [class.transition]="orderDetailsToggle">
    <div class="overlayList" [hidden]="!orderDetailsToggle" (click)="listBooking(0, 00)"></div>
    <div class="sideMenuList rightSide orderListContent" style="font-size: 13px;">
        <div class="loginSignupAll">
            <div class="titleSave m-0 h-auto" *ngIf="BookingList">
                <div class="ion-android-close ionClose" *ngIf="!orderListMenu" style="top:auto" (click)="listBooking(0, 00)"></div>
                <div class="ion-arrow-left-c ionClose" *ngIf="orderListMenu" style="top:auto" (click)="orderListMenu = !orderListMenu"></div>
                <div class="tileList mb-3 {{BookingList.providerStatus}}">{{'ACCOUNT.bidT' | translate}} #{{BookingList.bookingId}}</div>
                <div class="tileList cancelBooking text-danger" *ngIf="((BookingList.providerStatus == 1) && (logStatus && logStatus.status == 3 || logStatus && logStatus.status == 6)) || (BookingList.providerStatus == 0)"
                    (click)="cancelBookingReason(BookingList.bookingId)">{{'ACCOUNT.cancelT' | translate}}</div>
                <div class="bookingTimer col-12" *ngIf="BookingList.providerStatus == 1 && logStatus && logStatus.status == 8">
                    <div class="title">{{'ACCOUNT.bookTimer' | translate}}</div>
                    <div class="titleTimer">{{BookingTimer}}</div>
                </div>
            </div>
            <!-- live tracking -->
            <div class="formsList driverList" [hidden]="!orderListMenu">
                <div class="mapList col-12 p-0">
                    <div class="mapTrack" id="liveTrackMap"></div>
                </div>

                <div class="row m-0 allListTrack col-12 p-0 mt-5 mb-2 text-center" *ngIf="logStatus">
                    <div class="col-4 p-0 distanceEta" *ngIf="logStatus.distance">
                        <div class="title">{{'ACCOUNT.distanceT' | translate}}</div>
                        <div class="title" *ngIf="logStatus.distanceMatrix == 0">{{(logStatus.distance / 1000).toFixed(2)}}
                            {{'ACCOUNT.kmA' | translate}}</div>
                        <div class="title" *ngIf="logStatus.distanceMatrix == 1">{{(logStatus.distance / 1609.344).toFixed(2)}}
                            {{'ACCOUNT.miA' | translate}}</div>
                    </div>
                    <div class="titleRest p-0" [class.col-4]="logStatus.distance" [class.col-12]="!logStatus.distance" *ngIf="logStatus.providerDetail">
                        <div class="restImg">
                            <img class="imgs" src="{{logStatus.providerDetail.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                alt="">
                        </div>
                        <div class="title textEllipse">{{logStatus.providerDetail.firstName}} {{logStatus.providerDetail.lastName}}</div>
                        <div class="idOrder mt-0" *ngIf="logStatus.providerDetail.averageRating">
                            <i class="icon ion-star color"></i> {{(logStatus.providerDetail.averageRating).toFixed(2)}} |
                            {{logStatus.providerDetail.reviewCount}} {{'ACCOUNT.reviewT' | translate}}
                        </div>
                        <!-- <div class="title color cursor">View Profile</div> -->
                    </div>
                    <div class="col-4 p-0 distanceEta" *ngIf="logStatus.distance">
                        <div class="title">{{'ACCOUNT.etaT' | translate}}</div>
                        <div class="title">{{logStatus.eta}}</div>
                    </div>
                </div>

            </div>

            <!-- detail list-->
            <div class="formsList" *ngIf="BookingList && !orderListMenu">
                <h6 class="titleItem">{{'ACCOUNT.totalBillAmnt' | translate}}</h6>
                <h5 class="titlePrice">
                    <b>{{BookingList.currencySymbol}} {{BookingList.totalAmount}}</b>
                </h5>
                <div class="title">
                    {{BookingList.bookingRequestedFor}}
                </div>
                <hr class="line col-12 p-0" *ngIf="BookingList.providerStatus == 1 || BookingList.providerStatus == 2">

                <div class="listInformation orderList col-12 p-0" *ngIf="BookingList.providerStatus == 2">
                    <h6 class="titleItem">{{'ACCOUNT.yourProvid' | translate}}</h6>
                    <div class="imgRestList col-12 p-0" style="background-image: none;">
                        <div class="restImg">
                            <img class="imgs" src="{{BookingList.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                height="160" width="240" alt="">
                        </div>
                        <div class="titleRest col-10 col-md-8 pr-0 textEllipse" [class.mt-3]="BookingList.reviewByCustomer && !BookingList.reviewByCustomer.rating">
                            <div class="title textEllipse">{{BookingList.firstName}} {{BookingList.lastName}}</div>
                            <div class="idOrder mt-0" *ngIf="BookingList.reviewByCustomer && BookingList.reviewByCustomer.rating">{{'ACCOUNT.youRate' | translate}}
                            </div>
                            <div class="idOrder mt-0" *ngIf="BookingList.reviewByCustomer && BookingList.reviewByCustomer.rating">
                                <i class="icon ion-star color"></i> {{(BookingList.reviewByCustomer.rating).toFixed(2)}}</div>
                            <div class="idOrder mt-0" [class.text-success]="BookingList.status !=4 || BookingList.status != 5 || BookingList.status != 11 || BookingList.status != 12"
                                [class.text-danger]="BookingList.status ==4 || BookingList.status == 5 || BookingList.status == 11 || BookingList.status == 12">{{BookingList.statusMsg}}</div>
                        </div>
                    </div>
                </div>

                <div class="listInformation orderList col-12 p-0" *ngIf="BookingList.providerStatus == 1">
                    <h6 class="titleItem">{{'ACCOUNT.yourStatus' | translate}}</h6>
                    <div class="orderStatus col-12 p-0">
                        <div class="listDetailOrder p-0" *ngIf="logStatus">
                            <div class="listContent col-12 p-0 active">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{BookingList.category}} {{'ACCOUNT.request' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.requestedTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.acceptedTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <!-- <div class="sideLine"></div> -->
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{BookingList.category}} {{'ACCOUNT.accept' | translate}} </h4>
                                    <div class="imgRestList col-12 p-0" style="background-image: none;">
                                        <div class="restImg">
                                            <img class="imgs" src="{{BookingList.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                                height="160" width="240" alt="">
                                        </div>
                                        <div class="titleRest col-10 col-md-8 textEllipse pr-0 pt-2">
                                            <div class="title textEllipse">{{BookingList.firstName}} {{BookingList.lastName}}</div>
                                            <!-- <div class="idOrder color">{{BookingList.statusMsg}}</div> -->
                                            <!-- <div class="idOrder mt-0" *ngIf="logStatus.providerDetail && logStatus.providerDetail.averageRating">You Rated</div> -->
                                            <div class="idOrder mt-0" *ngIf="logStatus.providerDetail && logStatus.providerDetail.averageRating">
                                                <i class="icon ion-star color"></i> {{(logStatus.providerDetail.averageRating).toFixed(2)}}
                                                | {{logStatus.providerDetail.reviewCount}} {{'ACCOUNT.reviewT' | translate}}
                                            </div>
                                            <div class="idOrder color">{{(logStatus.jobStatusLogs.acceptedTime *1000) | date:'hh:mm
                                                a'}}
                                            </div>
                                            <!-- <div class="idOrder orderTrack cancelOrder" *ngIf="logStatus.status == 3" (click)="cancelBookingReason(BookingList.bookingId)">Cancel</div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.onthewayTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{BookingList.category}} {{'ACCOUNT.onTheWay' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.onthewayTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                    <div class="idOrder orderTrack mt-2" *ngIf="logStatus.status == 6" (click)="liveTractMqtt(BookingList.latitude, BookingList.longitude, logStatus.providerDetail.providerId)">{{'ACCOUNT.liveTrack' | translate}}
                                    </div>
                                    <!-- <div class="idOrder orderTrack cancelOrder pl-2" *ngIf="logStatus.status == 6" (click)="cancelBookingReason(BookingList.bookingId)">Cancel</div> -->
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.arrivedTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{BookingList.category}} {{'ACCOUNT.hasArrived' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.arrivedTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.startedTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{'ACCOUNT.jobStart' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.startedTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.completedTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{'ACCOUNT.jobComplete' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.completedTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                </div>
                                <div class="sideLine"></div>
                            </div>
                            <div class="listContent col-12 p-0" [class.active]="logStatus.jobStatusLogs.raiseInvoiceTime">
                                <div class="driverTitle col-12 p-0 py-3 pl-5">
                                    <div class="tickMark mapMark">
                                        <span class="selectedTick ion-checkmark-round"></span>
                                    </div>
                                    <h4>{{'ACCOUNT.invoiceT' | translate}}</h4>
                                    <div class="descTitle color">{{(logStatus.jobStatusLogs.raiseInvoiceTime *1000) | date:'hh:mm
                                        a'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="line col-12 p-0">
                <h6 class="titleItem">{{'ACCOUNT.jobLocT' | translate}}</h6>
                <div class="title">
                    {{BookingList.addLine1}}
                </div>
                <hr class="line col-12 p-0">
                <div class="cartList col-12 p-0">
                    <div class="cartData col-12 mt-0 boxCheckout p-0">
                        <div class="cartDataContent col-12 p-0">
                            <ul class="detailsRestaurant m-0 p-0" id="" *ngIf="BookingList.cart">
                                <h6 class="titleItem">{{'ACCOUNT.requestService' | translate}}</h6>
                                <li class="foodDeatils row m-0 pt-2">
                                    <span class="pricedetailsleft col-8 p-0 textEllipse">{{'ACCOUNT.categoryT' | translate}}
                                    </span>
                                    <span class="pricedetailsleft col-4 p-0 text-right">
                                        <span class="price" id="plusCartprice">{{BookingList.category}}</span>
                                    </span>
                                </li>
                                <li class="foodDeatils row m-0 pt-2" *ngIf="BookingList.cart.visitFee > 0">
                                    <span class="pricedetailsleft col-8 p-0 textEllipse">{{'ACCOUNT.visitF' | translate}}
                                    </span>
                                    <span class="pricedetails col-4 p-0 text-right">
                                        <span class="price" id="plusCartprice">{{BookingList.currencySymbol}} {{(BookingList.cart.visitFee).toFixed(2)}}</span>
                                    </span>
                                </li>
                                <!-- <div class="shadowCart"></div> -->
                                <li class="foodDeatils row m-0 pt-2" *ngFor="let item of BookingList.cart.item; let cartIndex = index">
                                    <span class="pricedetailsleft col-8 p-0 textEllipse">{{item.serviceName}} x{{item.quntity}}
                                    </span>
                                    <span class="pricedetails col-4 p-0 text-right">
                                        <span class="price" id="plusCartprice">{{BookingList.currencySymbol}} {{(item.amount).toFixed(2)}}</span>
                                    </span>
                                </li>
                                <div class="col-12 p-0 additionalService" *ngIf="BookingList.additionalService && BookingList.additionalService.length > 0">
                                    <li class="foodDeatils row m-0 pt-2" *ngFor="let item of BookingList.additionalService; let cartIndex = index">
                                        <span class="pricedetailsleft col-8 p-0 textEllipse">{{item.serviceName}}
                                        </span>
                                        <span class="pricedetails col-4 p-0 text-right">
                                            <span class="price" id="plusCartprice">{{BookingList.currencySymbol}} {{item.price}}</span>
                                        </span>
                                    </li>
                                </div>
                            </ul>
                            <div class="totalCharge col-12 p-0 mt-2">
                                <hr class="line col-12 p-0">
                                <div class="itemCharge col-12 p-0">
                                    <div class="total">{{'ACCOUNT.total' | translate}}</div>
                                    <div class="priceList font-weight-normal">{{BookingList.currencySymbol}} {{BookingList.totalAmount}}</div>
                                </div>
                            </div>
                            <hr class="line col-12 p-0">
                            <h6 class="titleItem">{{'ACCOUNT.paymentT' | translate}}</h6>
                            <div class="col-12 p-0 payCardtitle" *ngIf="BookingList.accounting.paidByWallet == 0">
                                <span class="typeBrandImg lastDigitName listDigit">
                                    <img *ngIf="BookingList.accounting.brand=='Amex'" class="imageBrand" src="assets/images/cardamex.svg">
                                    <img *ngIf="BookingList.accounting.brand=='Diners'" class="imageBrand" src="assets/images/carddiners.svg">
                                    <img *ngIf="BookingList.accounting.brand=='Discover'" class="imageBrand" src="assets/images/carddiscover.svg">
                                    <img *ngIf="BookingList.accounting.brand=='Jcb'" class="imageBrand" src="assets/images/cardjcb.svg">
                                    <img *ngIf="BookingList.accounting.brand=='MasterCard'" class="imageBrand" src="assets/images/cardmastercard.svg">
                                    <img *ngIf="BookingList.accounting.brand=='Placeholder'" class="imageBrand" src="assets/images/cardplaceholdercard.svg">
                                    <img *ngIf="BookingList.accounting.brand=='Visa'" class="imageBrand" src="assets/images/cardvisa.svg">
                                </span>
                                <span class="pl-2">
                                    <span *ngIf="BookingList.accounting.paymentMethod==2">{{'ACCOUNT.cardEnding' | translate}} {{BookingList.accounting.last4}}</span>
                                    <span *ngIf="BookingList.accounting.paymentMethod==1">{{'ACCOUNT.cashT' | translate}}</span>
                                </span>
                            </div>
                            <div class="col-12 p-0 payCardtitle" *ngIf="BookingList.accounting.paidByWallet == 1">
                                <li class="foodDeatils row m-0">
                                    <span class="pricedetailsleft col-8 p-0 textEllipse" *ngIf="BookingList.accounting.paymentMethod==1">{{'ACCOUNT.cashT' | translate}}</span>
                                    <span class="pricedetailsleft col-8 p-0 textEllipse" *ngIf="BookingList.accounting.paymentMethod==2">{{'ACCOUNT.cardT' | translate}}</span>
                                    <span class="pricedetails col-4 p-0 text-right" *ngIf="BookingList.totalAmount > 0">
                                        <span class="price" id="plusCartprice">{{BookingList.currencySymbol}} {{(BookingList.accounting.remainingAmount).toFixed(2)}}</span>
                                    </span>
                                </li>
                                <li class="foodDeatils row m-0">
                                    <span class="pricedetailsleft col-8 p-0 textEllipse">{{'ACCOUNT.walletT' | translate}}
                                    </span>
                                    <span class="pricedetails col-4 p-0 text-right" *ngIf="BookingList.totalAmount > 0">
                                        <span class="price" id="plusCartprice">{{BookingList.currencySymbol}} {{(BookingList.accounting.captureAmount).toFixed(2)}}</span>
                                    </span>
                                </li>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- wallet card -->
<div class="sidePopupOpen" [class.transition]="recentTrnsToggle">
    <div class="overlayList" [hidden]="!recentTrnsToggle" (click)="recentTrns()"></div>
    <div class="sideMenuList rightSide orderListContent">
        <!-- login -->
        <div class="loginSignupAll transactionList">
            <div class="titleSave m-0 h-auto">
                <div class="ion-android-close ionClose" (click)="recentTrns()"></div>
                <div class="col-12 allListTrasc">
                    <span class="title titleT active" id="1t" (click)="trasactionWallet(1)">{{'ACCOUNT.allT' | translate}}</span>
                    <span class="title titleT" id="2t" (click)="trasactionWallet(2)">{{'ACCOUNT.debitT' | translate}}</span>
                    <span class="title titleT" id="3t" (click)="trasactionWallet(3)">{{'ACCOUNT.ceditT' | translate}}</span>
                </div>
            </div>
            <div class="formsList" *ngIf="listTran">
                <!-- <div class="transactionBlock active text-center" *ngIf="listTran.creditDebitArr.length == 0 || listTran.debitArr.length == 0 || listTran.creditArr.length == 0">
                    Sorry no more transactions
                </div> -->
                <div class="titleT col-12 p-0 active" id="1T" *ngIf="listTran.creditDebitArr">
                    <div class="transactionBlock" *ngFor="let list of listTran.creditDebitArr">
                        <div class="transId">{{'ACCOUNT.transId' | translate}} : {{list.txnId}}</div>
                        <div class="bookingId">{{'ACCOUNT.bookId' | translate}} : {{list.tripId}}</div>
                        <hr class="m-0 my-2">
                        <div class="transactionComment">
                            <i aria-hidden="true" class="fa fa-arrow-down"></i>
                            <span class="transactionName">{{'ACCOUNT.walletRecharge' | translate}}</span>
                            <br class="priceTitle">
                            <span class="transactionDate">{{list.dateTime}}</span>
                        </div>
                        <div class="transactionAmount">
                            <span class="priceTitle">{{list.currencySymbol}} {{list.amount}}</span>
                        </div>
                    </div>
                    <div class="transactionBlock active text-center" *ngIf="listTran.creditDebitArr.length == 0">
                        {{'ACCOUNT.sorryNMTrans' | translate}}
                    </div>
                </div>
                <div class="titleT col-12 p-0" id="2T" *ngIf="listTran.debitArr">
                    <div class="transactionBlock" *ngFor="let list of listTran.debitArr">
                        <div class="transId">{{'ACCOUNT.transId' | translate}} : {{list.txnId}}</div>
                        <div class="bookingId">{{'ACCOUNT.bookId' | translate}} : {{list.tripId}}</div>
                        <hr class="m-0 my-2">
                        <div class="transactionComment">
                            <i aria-hidden="true" class="fa fa-arrow-down"></i>
                            <span class="transactionName">{{'ACCOUNT.walletRecharge' | translate}}</span>
                            <br class="priceTitle">
                            <span class="transactionDate">{{list.dateTime}}</span>
                        </div>
                        <div class="transactionAmount">
                            <span class="priceTitle">{{list.currencySymbol}} {{list.amount}}</span>
                        </div>
                    </div>
                    <div class="transactionBlock active text-center" *ngIf="listTran.debitArr.length == 0">
                        {{'ACCOUNT.sorryNMTrans' | translate}}
                    </div>
                </div>
                <div class="titleT col-12 p-0" id="3T" *ngIf="listTran.creditArr">
                    <div class="transactionBlock" *ngFor="let list of listTran.creditArr">
                        <div class="transId">{{'ACCOUNT.transId' | translate}} : {{list.txnId}}</div>
                        <div class="bookingId">{{'ACCOUNT.bookId' | translate}} : {{list.tripId}}</div>
                        <hr class="m-0 my-2">
                        <div class="transactionComment">
                            <i aria-hidden="true" class="fa fa-arrow-down"></i>
                            <span class="transactionName">{{'ACCOUNT.walletRecharge' | translate}}</span>
                            <br class="priceTitle">
                            <span class="transactionDate">{{list.dateTime}}</span>
                        </div>
                        <div class="transactionAmount">
                            <span class="priceTitle">{{list.currencySymbol}} {{list.amount}}</span>
                        </div>
                    </div>
                    <div class="transactionBlock active text-center" *ngIf="listTran.creditArr.length == 0">
                        {{'ACCOUNT.sorryNMTrans' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- add New Card -->
<div class="sidePopupOpen" [class.transition]="newCardToggle">
    <div class="overlayList" [hidden]="!newCardToggle" (click)="cardToggle()"></div>
    <div class="sideMenuList rightSide">
        <!-- login -->
        <div class="loginSignupAll">
            <div class="titleSave m-0 h-auto mb-4">
                <div class="ion-android-close ionClose" (click)="cardToggle()"></div>
                <!-- <div class="tileList mb-3">Order</div> -->
            </div>
            <div class="formsList">
                <div class="list_card_information col-12 p-0" id="2payNavMenu">
                    <div class="col-12 header_text p-0">
                        <div class="header_payment col-12 p-0 mb-4">
                            <h5 class="h5text">{{'ACCOUNT.newCardD' | translate}}</h5>
                            <h6 class="h6text">{{'ACCOUNT.cardDT' | translate}}</h6>
                        </div>
                    </div>
                    <div class="col-12 p-0 form_credit content_text_payment">
                        <div class="creditCard">
                            <div class="row-textField form-group col-12 p-0">
                                <input type="text" name="cardCredit" [(ngModel)]="cardCredit" value="" maxlength="19" #pc (keyup)="valdationCreditCard(pc.value)"
                                    onpaste="return false" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control focus inputText"
                                    placeholder="{{'ACCOUNT.cardNo' | translate}}">
                                <div class="col-12 text-danger p-0" *ngIf="validCD">{{validCD}}</div>
                            </div>
                            <div class="row m-0 mb-3 col-12 p-0">
                                <div class="col-8" style="padding: 0px 5px 0px 0px;">
                                    <input type="text" name="monthYear" [(ngModel)]="monthYear" value="" maxlength="7" #pcv (keyup)="valdationDate(pcv.value)"
                                        onpaste="return false" class="form-control focus inputText" placeholder="{{'ACCOUNT.valid' | translate}}(MM/YYYY)">
                                </div>
                                <div class="col-4" style="padding: 0px 0px 0px 5px;">
                                    <input type="password" name="cardcvv" [(ngModel)]="cardcvv" value="" maxlength="3" #cv (keyup)="valdationcvv(cv.value)" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                        class="form-control focus inputText" placeholder="CVV">
                                </div>
                                <div class="col-12 text-danger p-0" *ngIf="validDM">{{'ACCOUNT.dFormat' | translate}}</div>
                            </div>
                        </div>
                        <div class="col-12  text-danger listGetSelect" *ngIf="errorSaveCart" style="text-align:center;">{{errorSaveCart}}</div>
                        <div class="col-12 p-0">
                            <!-- <div class="progress headBar" *ngIf="PaymentLoader" style="top:0;">
                          <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                        </div> -->
                            <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;margin:0;left: 45%;"></div>
                            <button type="submit" [disabled]="!(stripeCardDetails && cardCredit && monthYear && cardcvv)" (click)="stripeCard();" class="btn btn-lg col-12 submit_button">
                                <span class="textBar">{{'ACCOUNT.addCardT' | translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- deleteCard -->
<div class="modal fade boxPopup" id="cardDelete" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content col-12" style="padding: 10px;">
            <div class="modal-body">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <!-- <h4 class="textTitle"> {{restString.itemCartT}}</h4> -->
                <p class="paraText">{{'ACCOUNT.deleteCard' | translate}}</p>
            </div>
            <div class="col-12 p-0 row m-0">
                <span class="col-6">
                    <button type="button" class="btn btnButton btnGreen col-12" data-dismiss="modal" (click)="deleteCard();">{{'ACCOUNT.yesT' | translate}}</button>
                </span>
                <span class="col-6">
                    <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'ACCOUNT.noT' | translate}}</button>
                </span>
            </div>
        </div>
    </div>
</div>





<!-- edit Profile  -->
<div class="sidePopupOpen" [class.transition]="loginSignToggle">
    <div class="overlayList" [hidden]="!loginSignToggle" (click)="editProfile()"></div>
    <div class="sideMenuList rightSide">
        <div class="loginSignupAll">
            <div class="titleSave m-0 h-auto mb-5">
                <div class="ion-android-close ionClose" (click)="editProfile()" style="top: 15px;"> {{'ACCOUNT.eTitle' | translate}}</div>
                <!-- <div class="tileList mb-3">{{'ACCOUNT.eTitle' | translate}}</div> -->
            </div>
            <div class="formsList">
                <form>
                    <div class="col-12 listEdit">
                        <div class="col-12 imgProfile text-center mb-3 p-0" *ngIf="firstLastName">
                            <span class="loaderSpin cartLoader inAddCart imgLoader"></span>
                            <!-- <span class="closeImg" (click)="removeUpload()">X</span> -->
                            <input type="file" accept="image/*" (change)="uploadFile($event)" class="fileInput">
                            <img src="{{profilePic}}" onerror="this.src='assets/images/defaultPerson.png'"
                                class="profileImg" alt="{{firstName}}" title="{{firstName}}">
                        </div>
                        <label class="labelClass col-12 p-0">{{'ACCOUNT.fName' | translate}}</label>
                        <div class="labelValue col-12 p-0" *ngIf="!firstLastName">
                            <div class="dataVal">{{firstName}} {{lastName}}</div>
                            <div class="changeAddress" style="top:-6px;" (click)="profileEdit()">{{'ACCOUNT.changeT' | translate}}</div>
                        </div>
                        <div class="col-12 p-0 pwdNpwd" *ngIf="firstLastName">
                            <div class="inputBox border-bottom-0">
                                <input class="inpuText focus" type="text" name="firstName" [(ngModel)]="firstName" required="">
                                <label [ngClass]="{successTxt:firstName?.length > 0, errorTxt:firstName?.length == 0}">{{'ACCOUNT.firstN' | translate}}
                                </label>
                            </div>
                            <div class="inputBox">
                                <input class="inpuText focus" type="text" name="lastName" [(ngModel)]="lastName" required="">
                                <label [ngClass]="{successTxt:lastName?.length > 0, errorTxt:lastName?.length == 0}">{{'ACCOUNT.lastN' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="loginButton" *ngIf="firstLastName">
                            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
                            <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 160px;top: 30px;"></div>
                            <!-- <div class="progress headBar rightSideBar" *ngIf="loaderList">
                                <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
                            </div> -->
                            <button type="submit" class="btn btn-default btnSubmit" (click)="profileUpdate()" [disabled]="!(firstName && lastName)">
                                <span class="textBar">{{'ACCOUNT.bVerify' | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 listEdit">
                        <label class="labelClass col-12 p-0" *ngIf="!oneTime">{{'ACCOUNT.phoneT' | translate}}</label>
                        <div class="labelValue col-12 p-0" *ngIf="!phoneVerify && !oneTime">
                            <div class="dataVal">{{mobileno}}</div>
                            <div class="changeAddress" style="top:-6px;" (click)="phoneEdit()">{{'ACCOUNT.changeT' | translate}}</div>
                        </div>
                        <div class="labelValue col-12 p-0 mb-3" *ngIf="oneTime">
                            <div class="forgotText">
                                {{'ACCOUNT.verifyPhone' | translate}}
                            </div>
                        </div>
                        <div class="col-12 p-0" [hidden]="!phoneVerify">
                            <div class="inputBox">
                                <input class="inpuText focus intelInput" type="text" id="profilePhone" name="mobileno" [(ngModel)]="mobileno" #ppv (keyup)="mobileValidation(ppv.value)"
                                    (change)="mobileValidation(ppv.value)" required="" placeholder="{{'ACCOUNT.phone' | translate}}">
                            </div>
                            <div class="loginButton">
                                <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
                                <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 160px;top: 30px;"></div>
                                <button type="submit" class="btn btn-default btnSubmit" (click)="phoneUpdate()" [disabled]="!(registerSave && mobileno)">
                                    <span class="textBar">{{'ACCOUNT.bUpdate' | translate}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 p-0" *ngIf="oneTime">
                            <div class="inputBox">
                                <input class="inpuText focus" type="text" maxlength="4" name="OtpNumber" [(ngModel)]="OtpNumber" required="">
                                <label [ngClass]="{successTxt:OtpNumber?.length > 0, errorTxt:OtpNumber?.length == 0}">{{'ACCOUNT.verifyCode' | translate}}
                                </label>
                            </div>
                            <div class="forgotText countTimer py-3" (click)="resendOtp()">{{'ACCOUNT.resendT' | translate}}</div>
                            <div class="loginButton">
                                <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
                                <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 160px;top: 30px;"></div>
                                <button type="submit" class="btn btn-defaults btnSubmit" (click)="verifyOtp()" [disabled]="!(OtpNumber)">
                                    <span class="textBar">{{'ACCOUNT.continueT' | translate}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 listEdit">
                        <label class="labelClass col-12 p-0">{{'ACCOUNT.emailT' | translate}}</label>
                        <div class="labelValue col-12 p-0" *ngIf="!emailVerify">
                            <div class="dataVal">{{email}}</div>
                            <div class="changeAddress" style="top:-6px;" (click)="emailEdit()">{{'ACCOUNT.changeT' | translate}}</div>
                        </div>
                        <div class="inputBox" *ngIf="emailVerify">
                            <input class="inpuText focus" type="text" name="email" #el (keyup)="emailValidation(el.value)" (change)="emailValidation(el.value)"
                                [(ngModel)]="email" required="">
                            <label [ngClass]="{successTxt:email?.length > 0 || email_Error == 0, errorTxt:email?.length == 0 || email_Error == 1}">{{'ACCOUNT.emailT' | translate}}</label>
                        </div>
                        <div class="loginButton" *ngIf="emailVerify">
                            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
                            <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 160px;top: 30px;"></div>
                            <!-- <div class="progress headBar rightSideBar" *ngIf="loaderList">
                                <div class="progress-bar bg-success bar" style="width: 0%;"> </div>
                            </div> -->
                            <button type="submit" class="btn btn-default btnSubmit" (click)="emailUpdate()" [disabled]="!(registerSave && email)">
                                <span class="textBar">{{'ACCOUNT.bUpdate' | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 listEdit">
                        <label class="labelClass col-12 p-0">{{'ACCOUNT.pwdT' | translate}}</label>
                        <div class="labelValue col-12 p-0" *ngIf="!pwdVerify">
                            <div class="dataVal">.....</div>
                            <div class="changeAddress" style="top:-6px;" (click)="pwdEdit()">{{'ACCOUNT.changeT' | translate}}</div>
                        </div>
                        <div class="col-12 p-0 pwdNpwd" *ngIf="pwdVerify">
                            <div class="inputBox border-bottom-0">
                                <input class="inpuText focus" type="password" name="oldPassword" [(ngModel)]="oldPassword" required="">
                                <label [ngClass]="{successTxt:oldPassword?.length > 0, errorTxt:oldPassword?.length == 0}">{{'ACCOUNT.oldPwd' | translate}}
                                </label>
                            </div>
                            <div class="inputBox border-bottom-0">
                                <input class="inpuText focus" type="password" name="newPassword" [(ngModel)]="newPassword" required="">
                                <label [ngClass]="{successTxt:newPassword?.length > 0, errorTxt:newPassword?.length == 0}">{{'ACCOUNT.nPwd' | translate}}</label>
                            </div>
                            <div class="inputBox">
                                <input class="inpuText focus" type="password" name="rePassword" [(ngModel)]="rePassword" required="">
                                <label [ngClass]="{successTxt:rePassword?.length > 0, errorTxt:rePassword?.length == 0}">{{'ACCOUNT.rPwd' | translate}}</label>
                            </div>
                        </div>
                        <div class="loginButton" *ngIf="pwdVerify">
                            <div class="text-danger" *ngIf="errMsg" style="text-align: center;">{{errMsg}}</div>
                            <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 160px;top: 30px;"></div>
                            <button type="submit" class="btn btn-default btnSubmit" (click)="passwordUpdate()" [disabled]="!(oldPassword && newPassword && rePassword)">{{'ACCOUNT.bUpdate' | translate}}</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<!-- cancel reason -->
<div class="modal fade boxPopup" id="cancelReason" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content p-3" *ngIf="reasonList">
            <div class="modal-body">
                <div class="cancelReasonFalse col-12 p-0" *ngIf="reasonList.data.cancellationFeeApplied == true && !cancelFalse">
                    <h4 class="mb-3">{{'ACCOUNT.cancelCharge' | translate}}</h4>
                    <p class="paraText">{{reasonList.message}}</p>
                </div>
                <div class="cancelReasonFalse col-12 p-0" *ngIf="reasonList.data.cancellationFeeApplied == false || cancelFalse">
                    <h4 class="mb-3">{{'ACCOUNT.wtHappenT' | translate}}</h4>
                    <div class="allCancelList col-12 p-0" (click)="bookingCancel(list.res_id)" *ngFor="let list of reasonList.data.reason">
                        <input type="radio" name="reason" class="radioInput focus">
                        <label class="m-0 pl-3">{{list.reason}}</label>
                    </div>
                </div>
            </div>
            <div class="text-danger col-12 p-0 text-center mb-2" *ngIf="errMsg">{{errMsg}}</div>
            <div class="col-12 p-0 row m-0">
                <span class="col-6">
                    <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'ACCOUNT.bCancel' | translate}}</button>
                </span>
                <span class="col-6">
                    <button type="button" class="btn btnButton btnGreen col-12" *ngIf="reasonList.data.cancellationFeeApplied == true && !cancelFalse"
                        (click)="cancelFalse = !cancelFalse">{{'ACCOUNT.yesT' | translate}}</button>
                    <button type="button" class="btn btnButton btnGreen col-12" *ngIf="reasonList.data.cancellationFeeApplied == false || cancelFalse"
                        (click)="bookingCanceled()">{{'ACCOUNT.okT' | translate}}</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- rating List View -->
<div class="modal fade boxPopup" id="reviewProvider" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content p-0" *ngIf="!reviewSuccess">
            <div class="cartList col-12 mt-2 mt-md-0 p-3" *ngIf="bInvoice" [ngClass]="{transform:popupCart}">
                <div class="shadowContent"></div>
                <div class="cancelList cursor text-danger" *ngIf="popupCart" (click)="popupCart = !popupCart">x</div>
                <h5 class="titleItem m-0">{{'ACCOUNT.receiptT' | translate}}</h5>
                <div class="addressCart col-12">
                    {{bInvoice.addLine1}}
                </div>
                <div class="cartData col-12 m-0 boxCheckout p-0">
                    <div class="cartDataContent col-12 p-0">
                        <ul class="detailsRestaurant m-0 p-0" id="" *ngIf="bInvoice.cartData">
                            <h5 class="titleItem text-left">{{'ACCOUNT.billDetails' | translate}}</h5>
                            <!-- <div class="shadowCart"></div> -->
                            <li class="foodDeatils row m-0 pt-2" [class.pt-0]="cartIndex == 0" [class.pt-2]="cartIndex != 0" *ngFor="let item of bInvoice.cartData.item; let cartIndex = index">
                                <span class="pricedetailsleft text-left col-8 p-0 textEllipse">{{item.serviceName}} x{{item.quntity}}
                                </span>
                                <span class="pricedetails col-4 p-0 text-right">
                                    <span class="prices" id="plusCartprice">{{bInvoice.currencySymbol}} {{(item.amount).toFixed(2)}}</span>
                                </span>
                            </li>
                            <div class="col-12 p-0 additionalService" *ngIf="bInvoice.additionalService && bInvoice.additionalService.length > 0">
                                <li class="foodDeatils row m-0 pt-2" *ngFor="let item of bInvoice.additionalService; let cartIndex = index">
                                    <span class="pricedetailsleft text-left col-8 p-0 textEllipse">{{item.serviceName}}
                                    </span>
                                    <span class="pricedetails col-4 p-0 text-right">
                                        <span class="price" id="plusCartprice">{{bInvoice.currencySymbol}} {{item.price}}</span>
                                    </span>
                                </li>
                            </div>
                        </ul>
                        <div class="totalCharge col-12 p-0 my-2">
                            <hr class="line col-12 p-0 my-1">
                            <div class="itemCharge col-12 p-0">
                                <div class="total text-left">{{'ACCOUNT.total' | translate}}</div>
                                <div class="priceList font-weight-normal">{{bInvoice.currencySymbol}} {{bInvoice.accounting.total}}</div>
                            </div>
                            <hr class="line col-12 p-0 my-1">
                        </div>
                        <h5 class="titleItem text-left">{{'ACCOUNT.sign' | translate}}</h5>
                        <img class="urlSignList col-12 p-0" src="{{bInvoice.signURL}}" onerror="this.src='assets/images/signature.png'">
                    </div>
                </div>
            </div>
            <div class="modalHeader text-center" *ngIf="!popupCart">
                <div class="title mt-3 col-12 p-0">
                    <b>{{'ACCOUNT.yourLastB' | translate}}</b>
                </div>
                <div class="title col-12 p-0 mb-3" *ngIf="bInvoice">{{bInvoice.bookingRequestedFor}}</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body reviewList locationList p-3" *ngIf="bInvoice && !popupCart" style="background-color: #f7f8fa;">
                <div class="contentReview col-12 mb-3">
                    <div class="title">
                        <b>{{'ACCOUNT.totalBillAmnt' | translate}}</b>
                    </div>
                    <div class="price">{{bInvoice.currencySymbol}} {{bInvoice.accounting.total}}</div>
                    <div class="btnRecipt" (click)="popupCart = !popupCart">Receipt</div>
                </div>
                <div class="contentReview col-12 mb-3">
                    <div class="title">{{'ACCOUNT.reateEx' | translate}}</div>
                    <div class="imgProvider">
                        <img src="{{bInvoice.providerData.profilePic}}" onerror="this.src='assets/images/defaultPerson.png'">
                    </div>
                    <div class="title">{{bInvoice.providerData.firstName}} {{bInvoice.providerData.lastName}}</div>
                </div>
                <div class="contentReviews col-12 p-0" *ngIf="bInvoice.customerRating">
                    <div class="reviewContent" *ngFor="let list of bInvoice.customerRating; let i = index;">
                        <div class="titleCustomer col-12">
                            {{list.name}}
                        </div>
                        <div class="ratingStar col-12 p-0">
                            <span class="star-cb-group">
                                <input type="radio" id="rating-5{{i}}" [checked]="list.rating > 4" name="rating{{i}}" value="5" (click)="show_rating_txt(5, list, i)"
                                />
                                <label for="rating-5{{i}}">5</label>
                                <input type="radio" id="rating-4{{i}}" name="rating{{i}}" value="4" (click)="show_rating_txt(4, list, i)" />
                                <label for="rating-4{{i}}">4</label>
                                <input type="radio" id="rating-3{{i}}" name="rating{{i}}" value="3" (click)="show_rating_txt(3, list, i)" />
                                <label for="rating-3{{i}}">3</label>
                                <input type="radio" id="rating-2{{i}}" name="rating{{i}}" value="2" (click)="show_rating_txt(2, list, i)" />
                                <label for="rating-2{{i}}">2</label>
                                <input type="radio" id="rating-1{{i}}" name="rating{{i}}" value="1" (click)="show_rating_txt(1, list, i)" />
                                <label for="rating-1{{i}}">1</label>
                                <input type="radio" id="rating-0{{i}}" name="rating{{i}}" value="0" class="star-cb-clear" />
                                <label for="rating-0{{i}}">0</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="contentReview col-12 p-0">
                    <input type="text" name="reviewMsg" [(ngModel)]="reviewMsg" class="form-control inputRate focus" placeholder="{{'ACCOUNT.write' | translate}}">
                </div>
            </div>

            <div class="modal-footer p-0 border-0" *ngIf="!popupCart">
                <div class="col-12 btnNext footerNext text-center">
                    <h5 class="text-center text-danger" *ngIf="reviewErr">{{reviewErr}}</h5>
                    <span class="col-12 p-0">
                        <div class="loaderSpin headerLoader" *ngIf="loaderList" style="left: 45%;"></div>
                        <button type="button" class="btn btnButton btnGreen col-6" (click)="reviewSubmitList()">{{'ACCOUNTsubmitT' | translate}}</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-content p-3" *ngIf="reviewSuccess">
            <div class="modal-body text-center">
                <p class="paraText m-0">{{'ACCOUNT.dropFeed' | translate}}</p>
            </div>
        </div>
    </div>
</div>

<!-- payment wallet -->
<div class="modal fade boxPopup" id="payWallet" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content p-3">
            <div class="modal-body">
                <h5>{{'ACCOUNT.webT' | translate}}</h5>
                <p class="paraText" *ngIf="walletMoney">{{'ACCOUNT.rechargeW' | translate}}
                    {{walletMoney.currencySymbol}} {{addMoney}}
                </p>
            </div>
            <div class="col-12 p-0 row m-0">
                <span class="col-6">
                    <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'ACCOUNT.bCancel' | translate}}</button>
                </span>
                <span class="col-6">
                    <div class="loaderSpin headerLoader" *ngIf="PaymentLoader" style="top: 20%;left: 40%;"></div>
                    <button type="button" class="btn btnButton btnGreen col-12" (click)="addWallet();">{{'ACCOUNT.okT' | translate}}</button>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- delete Address -->
<div class="modal fade boxPopup" id="deleteAddress" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content p-3">
            <div class="modal-body">
                <p class="paraText">{{'ACCOUNT.delAddressT' | translate}}</p>
            </div>
            <div class="col-12 p-0 row m-0">
                <span class="col-6">
                    <button type="button" class="btn btnButton col-12" data-dismiss="modal">{{'ACCOUNT.bCancel' | translate}}</button>
                </span>
                <span class="col-6">
                    <button type="button" class="btn btnButton btnGreen col-12" (click)="deleteAddress();">{{'ACCOUNT.Deltitle' | translate}}</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- edit  map address location -->

<div class="sidePopupOpen" [class.transition]="searchLocationToggle">
    <div class="overlayList" *ngIf="searchLocationToggle" (click)="closeOpenSearch()"></div>
    <div class="sideMenuList checkOutMap leftSide">
        <div class="loginSignupAll">
            <div class="titleSave">
                <div class="ion-android-close ionClose" (click)="closeOpenSearch()" style="top: 25px;"></div>
                <div class="titleText ml-4">
                    <b>{{'ACCOUNT.sDeliAdd' | translate}}</b>
                </div>
            </div>
            <div class="mapArea formsList col-12 p-0">
                <div class="mapList" id="mapData"></div>
                <div class="inputBox">
                    <input class="inpuText focus addressArea pr-3" type="text" [(ngModel)]="addressMap" id="txtPlaces" name="addressMap" (keyup)="changeLocation()"
                        (change)="locationChange()" onpaste="return false;" required="">
                    <i class="fas fa-times locatIcons" (click)="closeLocation()"></i>
                    <!-- <label class="addressTranslate">{{'ACCOUNT.addressT' | translate}}</label> -->
                </div>
            </div>
            <div class="formsList mt-3">
                <form>
                    <div class="inputBox threeTypes row m-0" *ngIf="otherText">
                        <div class="tickArea col-4" [ngClass]="{active: typeThree}">
                            <img class="iconAddress" src="assets/images/CothersIcon.svg" title="others">
                            <img class="iconAddress activeIcon" src="assets/images/CothersIconActive.svg"
                                title="others">
                            <span class="title">{{'ACCOUNT.othersT' | translate}}</span>
                        </div>
                        <div class="tickArea col-8 p-0 border-right-0">
                            <input class="inpuText focus othersList" type="text" name="Others" [(ngModel)]="Others" placeholder="">
                            <span class="cancelList" (click)="otherText = !otherText">{{'ACCOUNT.bCancel' | translate}}</span>
                        </div>
                    </div>
                    <div class="inputBox threeTypes row m-0" *ngIf="!otherText">
                        <div class="tickArea col-4" [ngClass]="{active: typeOne}" (click)="selectType(1)">
                            <img class="iconAddress" src="assets/images/ChomeIcon.svg" title="home">
                            <img class="iconAddress activeIcon" src="assets/images/ChomeIconActive.svg"
                                title="home">
                            <span class="title">
                                {{'ACCOUNT.homeT' | translate}}
                            </span>
                        </div>
                        <div class="tickArea col-4" [ngClass]="{active: typeTwo}" (click)="selectType(2)">
                            <img class="iconAddress" src="assets/images/CworkIcon.svg" title="work">
                            <img class="iconAddress activeIcon" src="assets/images/CworkIconActive.svg"
                                title="work">
                            <span class="title">{{'ACCOUNT.officeT' | translate}}</span>
                        </div>
                        <div class="tickArea col-4 border-right-0" [ngClass]="{active: typeThree}" (click)="selectType(3)">
                            <img class="iconAddress" src="assets/images/CothersIcon.svg" title="others">
                            <img class="iconAddress activeIcon" src="assets/images/CothersIconActive.svg"
                                title="others">
                            <span class="title">{{'ACCOUNT.othersT' | translate}}</span>
                        </div>
                    </div>
                    <div class="loginButton">
                        <input type="hidden" class="arealat">
                        <input type="hidden" class="arealng">
                        <input type="hidden" class="areaName">
                        <!-- <div class="loaderSpin headerLoader" *ngIf="loaderList"></div> -->
                        <div class="progress headBar" *ngIf="loaderList" style="top:20px;">
                            <div class="progress-bar bg-success barStore" style="width: 0%;"> </div>
                        </div>
                        <button type="submit" class="btn btn-default btnSubmit" [disabled]="!addressMap" (click)="saveAddress()">
                            <span class="textBar">{{'ACCOUNT.bSave' | translate}}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>