<div class="viewPriceShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-3"></div>
  <div class="container my-3">
    <div class="row m-0">
      <div class="col-12">
        <div class="carouselList" *ngFor="let list of shimmer">
          <div class="linear col p-0 mb-4">
            <div class="linear-background big mb-2 col-6 col-md-3"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
          <div class="linear col-12 mb-4" *ngFor="let list of shimmer">
            <div class="row m-0 mb-2">
              <div class="col-12 p-0">
                <div class="linear-background big col-6 mb-2"></div>
                <div class="linear-background big col-2 col-md-1"></div>
              </div>
            </div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
            <div class="linear-background big mb-2 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- landing page component  -->

<div class="allBecomeTask col-12 p-0" [hidden]="!loaderList">
  <div class="landingUrl col-12 p-0" [class.d-none]="!stepBecome1" [class.d-md-block]="!stepBecome1">
    <div class="container">
      <div class="col-12 col-lg-6 p-0 allMillons">
        <div class="col-md-12 becomeContent">
          <div>
            <h1 class="title">{{'BECOMEPRO.title' | translate}} </h1>
          </div>
          <p class="titleText ">
            <span>{{'BECOMEPRO.para' | translate}} </span>
            <b> {{'BECOMEPRO.para1' | translate}} </b>
            <span> {{'BECOMEPRO.para2' | translate}}
            </span>
          </p>
          <div class="millionText row m-0 mt-2 mt-md-5 text-center">
            <div class="col-md-4">
              <h1 class="title"> {{'BECOMEPRO.titleP' | translate}} </h1>
              <p class="titleText"> {{'BECOMEPRO.titleC' | translate}} </p>
            </div>
            <div class="col-md-4 text-center">
              <h1 class="title"> {{'BECOMEPRO.titleP1' | translate}}</h1>
              <p class="titleText"> {{'BECOMEPRO.titleC1' | translate}} </p>
            </div>
            <div class="col-md-4 text-center">
              <h1 class="title"> {{'BECOMEPRO.titleP2' | translate}}</h1>
              <p class="titleText"> {{'BECOMEPRO.titleC2' | translate}} </p>
            </div>
          </div>
          <div class="col-12 p-0 allAppStore text-center">
            <a class="trackable" target="_blank" href="#">
              <img alt="App store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/appStore.svg">
            </a>
            <a class="trackable" target="_blank" href="#">
              <img alt="Play store" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/playStore.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- became a pro form html -->
  <div class="allBecomeContent col-12 p-0 py-5" [class.fixed]="!stepBecome1" style="background-color: #F4F4F4;">
    <div class="container" id="barProgress">
      <div class="multiStepBar" [class.d-none]="!stepBecome1" [class.d-md-block]="!stepBecome1">
        <div id="msform">
          <div class="titleBecome text-center">
            <h3>
              <b>{{'BECOMEPRO.titleR' | translate}}</b>
            </h3>
            <p class="textPara mb-5">{{'BECOMEPRO.titlePa' | translate}}</p>
          </div>
          <!-- progressbar -->
          <!-- <ul id="progressbar">
          <li class="listProvider active">Category Details</li>
          <li class="listProvider 2nd">Personal Details</li>
          <li class="listProvider 3nd">Login Details</li>
          <li class="listProvider 4nd">Documents</li>
        </ul> -->
        </div>
      </div>

      <div class="becomeList row m-0 col-12 p-0">
        <div class="listUl col-12 col-md-3 pl-0">
          <ul class="listPayment listStyle p-0 d-block d-md-none" [class.fixed]="!stepBecome1">
            <li class="listProvider">
              <div class="progressbarTitle col-12 p-0">{{widthBar}}% {{'BECOMEPRO.completeT' | translate}}</div>
              <div class="progress col-12 p-0 mb-2">
                <div class="progress-bar" [style.width]="widthBar+'%'"></div>
              </div>
            </li>
          </ul>
          <ul class="listPayment listStyle p-0 pb-3 d-none d-md-block">
            <li class="listProvider border-bottom">
              <div class="progressbarTitle col-12 p-0">{{widthBar}}% {{'BECOMEPRO.completeT' | translate}}</div>
              <div class="progress col-12 p-0">
                <div class="progress-bar" [style.width]="widthBar+'%'"></div>
              </div>
            </li>
            <li class="listProvider pt-4 textEllipse  active" (click)="becomeStep1()">
              <span class="dotList"></span>{{'BECOMEPRO.list' | translate}}</li>
            <li class="listProvider textEllipse 2nd" (click)="becomeStep2()">
              <span class="dotList"></span>{{'BECOMEPRO.list1' | translate}}</li>
            <li class="listProvider textEllipse 3nd" (click)="becomeStep3()">
              <span class="dotList"></span>{{'BECOMEPRO.list2' | translate}}</li>
            <li class="listProvider textEllipse 4nd" *ngIf="documentBtn" (click)="becomeStep4()">
              <span class="dotList"></span>{{'BECOMEPRO.list3' | translate}}</li>
          </ul>
        </div>

        <div class="allChangeContent col-12 col-md-9 p-0">
          <!-- step 1-->
          <div class="allStepContentList col-12 p-0" [hidden]="!stepBecome1">
            <div class="titleHead col-12">
              {{'BECOMEPRO.list' | translate}}
            </div>
            <div class="allStepContent col-12">
              <div class="cityCatList col-12 p-0">
                <div class="cityContent col-12 p-0">
                  <label class="col-12 labelText">{{'BECOMEPRO.cityT' | translate}}
                    <em>*</em>
                  </label>
                  <div class="cityList">
                    <div class="dropdown cursor">
                      <div class="dropdown-toggle borderInput" data-toggle="dropdown">
                        {{cityName}}
                      </div>
                      <div class="dropdown-menu cityContent p-0 col" *ngIf="citys">
                        <a class="dropdown-item" (click)="listCat(i)" *ngFor="let list of citys; let i = index;">{{list.city}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="loaderSpin pageLoader" *ngIf="catLoaderList"></div>
                <div class="cityContent col-12 p-0 mt-4" *ngIf="categoryList && !catLoaderList">
                  <label class="col-12 labelText float-left">{{'BECOMEPRO.catT' | translate}}
                    <em>*</em>
                  </label>
                  <div class="subCatContent col-12 p-0">
                    <div class="allSubList col-12" *ngFor="let list of categoryList;let i = index">
                      <span class="boxCheck" (click)="catSelect(i)">
                        <i class="ion-checkmark-round tickCheck color" *ngIf="list.checked"></i>
                      </span>
                      <span class="labelTextCheck">{{list.catName}}</span>
                      <div class="col-12 p-0 subTextList" *ngIf="list.subCategory && list.subCategory.length > 0 && list.checked">
                        <div class="catSubList col-12" *ngFor="let subCat of list.subCategory;let j = index">
                          <span class="boxCheck" (click)="subCatSelect(i, j)">
                            <i class="ion-checkmark-round tickCheck color" *ngIf="subCat.checked"></i>
                          </span>
                          <span class="labelTextCheck">{{subCat.sub_cat_name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btnList col-12 p-0 text-center mt-3">
                  <div class="text-danger pb-2" *ngIf="errStep">{{errStep}}</div>
                  <span class="btnBecome btnNext col-12" (click)="becomeStep2()">{{'BECOMEPRO.btnN' | translate}}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- step 2 -->
          <div class="allStepContentList col-12 p-0" [hidden]="!stepBecome2">
            <div class="titleHead col-12">
              {{'BECOMEPRO.list1' | translate}}
            </div>
            <div class="allStepContent col-12">
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldF' | translate}}
                  <em>*</em>
                </label>
                <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control borderInput focus"
                  placeholder="{{'BECOMEPRO.FirstName' | translate}}">
              </div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldL' | translate}} <em>*</em></label>
                <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control borderInput focus"
                  placeholder="{{'BECOMEPRO.LastName' | translate}}">
              </div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldG' | translate}} <em>*</em></label>
                <input type="radio" name="gender" [(ngModel)]="gender" value="1" class="inputRadioProfile focus">
                <label class="geTitle radio-inline">{{'BECOMEPRO.fieldGL1' | translate}}</label>
                <input type="radio" name="gender" [(ngModel)]="gender" value="2" class="inputRadioProfile focus">
                <label class="geTitle radio-inline">{{'BECOMEPRO.fieldGL2' | translate}}</label>
                <input type="radio" name="gender" [(ngModel)]="gender" value="3" class="inputRadioProfile focus">
                <label class="geTitle radio-inline"> {{'BECOMEPRO.fieldGL3' | translate}} </label>
              </div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldD' | translate}}
                  <em>*</em>
                </label>
                <input class="form-control borderInput focus" id="dob">
                <!-- <i class="icon ion-calendar"></i> -->
              </div>
              <div class="expLine inputField col-12" *ngIf="dob">
                <i class="fa fa-info-circle text-danger"></i>
                <span class="expSubtext text-danger">
                  {{'BECOMEPRO.fieldDE' | translate}}
                </span>
              </div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldU' | translate}} <em>*</em></label>
                <input type="file" name="" accept="image/*" (change)="uploadFile($event)" class="form-control borderInput focus uploadFileImg"
                  style="width:80%;">
                <div class="loaderSpin cartLoader inAddCart imgLoader" style="top: 60px;display: none;right: 11.5%;"></div>
                <div class="imgFile" style="display: none;">
                  <span class="closeImg" (click)="removeUpload()">X</span>
                  <img class="imgFiles imgFilesmeta col-12 p-0" src="">
                </div>
              </div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldA' | translate}}
                  <em>*</em>
                </label>
                <input type="text" name="address" id="locationAddress" [(ngModel)]="address" (keyup)="locationSetting()"
                  class="form-control borderInput focus">
                <input type="hidden" class="latpro">
                <input type="hidden" class="lngpro">
                <div class="row cityAddress">
                  <div class="inputField col-12 col-sm-4 p-0">
                    <input type="text" name="" class="form-control borderInput focus w-100" id="city" placeholder="{{'BECOMEPRO.city' | translate}}">
                  </div>
                  <div class="inputField col-12 col-sm-4 p-0 px-sm-2">
                    <input type="text" name="" class="form-control borderInput focus w-100" id="state" placeholder="{{'BECOMEPRO.state' | translate}}">
                  </div>
                  <div class="inputField col-12 col-sm-4 p-0">
                    <input type="text" name="" class="form-control borderInput focus w-100" id="zipcode" placeholder="{{'BECOMEPRO.zip' | translate}}">
                  </div>
                </div>
              </div>
              <div class="expLine inputField col-12">
                <i class="fa fa-info-circle"></i>
                <span class="expSubtext">
                  {{'BECOMEPRO.fieldUL' | translate}}
                </span>
              </div>

              <!--meta data-->
              <div class="col-12 p-0" *ngIf="metaDataVal">
                <div class="inputField col-12 p-0" *ngFor="let list of metaData; let i =index;">
                  <label class="col-12 labelText">{{list.fieldName}}
                    <em *ngIf="list.isManadatory == 1">*</em>
                  </label>
                  <textarea class="form-control borderInput focus h-auto" (keyup)="metaTextAreaList(i, $event)" *ngIf="list.fieldType == 1"
                    rows="2" cols="2" style="resize: none"></textarea>

                  <!-- <tag-input *ngIf="list.fieldType == 2"></tag-input> -->
                  <tag-input [(ngModel)]='list.datas' *ngIf="list.fieldType == 2" name="items" placeholder="{{'BECOMEPRO.Enteryour' | translate}}{{list.fieldName}}"></tag-input>
                  <!-- <input type="text" name="" *ngIf="list.fieldType == 2" (keyup)="metaTextAreaList(i, $event)" class="form-control borderInput focus h-auto"
                    placeholder="{{list.fieldName}}"> -->
                  <!-- <input type="text" name="" *ngIf="list.fieldType == 3" class="form-control borderInput focus h-auto" placeholder="{{list.fieldName}}">
          <input type="text" name="" *ngIf="list.fieldType == 4" class="form-control borderInput focus h-auto" placeholder="{{list.fieldName}}"> -->
                  <div class="borderInput checkBoxList allSubList h-auto" *ngIf="list.fieldType == 5">
                    <div class="catSubList col-12 p-0" *ngFor="let pre of list.preDefined; let k =index;">
                      <span class="boxCheck" (click)="metaPredefined(i, k)">
                        <i class="ion-checkmark-round tickCheck color" *ngIf="pre.checked"></i>
                      </span>
                      <span class="labelTextCheck">{{pre.name}}</span>
                    </div>
                  </div>
                  <div class="borderInput checkBoxList allSubList h-auto" *ngIf="list.fieldType == 6">
                    <div class="catSubList col-12 p-0" *ngFor="let pre of list.preDefined; let j =index;">
                      <span class="boxCheck" (click)="metaPredefined(i, j)">
                        <i class="ion-checkmark-round tickCheck color" *ngIf="pre.checked"></i>
                      </span>
                      <span class="labelTextCheck">{{pre.name}}</span>
                    </div>
                  </div>
                  <!-- <select multiple class="form-control borderInput focus h-auto" *ngIf="list.fieldType == 5">
            <option *ngFor="let pre of list.preDefined" value="{{pre.name}}">{{pre.name}}</option>
          </select>
          <select multiple class="form-control borderInput focus h-auto" *ngIf="list.fieldType == 6">
            <option *ngFor="let pre of list.preDefined" value="{{pre.name}}">{{pre.name}}</option>
          </select> -->
                </div>
              </div>

              <div class="btnList col-12 p-0 text-center mt-3">
                <div class="text-danger pb-2" *ngIf="errStep">{{errStep}}</div>
                <span class="btnBecome" (click)="becomeStep1()">{{'BECOMEPRO.btnBa' | translate}}</span>
                <span class="btnBecome btnNext ml-2" (click)="becomeStep3()">{{'BECOMEPRO.btnN' | translate}}</span>
              </div>
            </div>
          </div>

          <!-- step 3 -->
          <div class="allStepContentList col-12 p-0" [hidden]="!stepBecome3">
            <div class="titleHead col-12">
              {{'BECOMEPRO.list2' | translate}}
            </div>
            <div class="allStepContent col-12">
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldE' | translate}}
                  <em>*</em>
                </label>
                <input type="text" name="email" [(ngModel)]="email" #pE (keyup)="emailValidation(pE.value)" (change)="emailValidation(pE.value)"
                  class="form-control borderInput focus">
              </div>
              <div class="text-danger col-12 text-center" *ngIf="email_Error">{{email_Error}}</div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldP' | translate}}
                  <em>*</em>
                </label>
                <input type="password" name="password" [(ngModel)]="password" #pwd (keyup)="passwordValidation(pwd.value)"
                  (change)="passwordValidation(pwd.value)" class="form-control borderInput focus">
              </div>
              <div class="text-danger col-12 text-center" *ngIf="pwd_Error">{{pwd_Error}}</div>
              <div class="inputField col-12 p-0">
                <label class="col-12 labelText">{{'BECOMEPRO.fieldM' | translate}}
                  <em>*</em>
                </label>
                <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" #pPh (keyup)="mobileValidation(pPh.value)"
                  (change)="mobileValidation(pPh.value)" id="becomePhone" class="form-control borderInput focus">
              </div>
              <div class="expLine inputField col-12">
                <i class="fa fa-info-circle"></i>
                <span class="expSubtext">
                  {{'BECOMEPRO.fieldME' | translate}}
                </span>
              </div>
              <div class="text-danger col-12 text-center" *ngIf="phone_Error">{{phone_Error}}</div>
              <div class="btnList col-12 p-0 text-center mt-3">
                <div class="text-danger pb-2" *ngIf="errStep">{{errStep}}</div>
                <span class="btnBecome" (click)="becomeStep2()">{{'BECOMEPRO.btnBa' | translate}}</span>
                <span class="btnBecome btnNext ml-2" *ngIf="documentBtn" (click)="becomeStep4()">{{'BECOMEPRO.btnN' | translate}}</span>
                <span class="btnBecome btnNext ml-2" *ngIf="!documentBtn" (click)="noDocument()">{{'BECOMEPRO.btnS' | translate}}</span>
              </div>
            </div>
          </div>

          <!-- step 4 -->
          <div class="allStepContentList col-12 p-0" [hidden]="!stepBecome4">
            <div class="titleHead col-12">
              {{'BECOMEPRO.fieldDD' | translate}}
            </div>
            <div class="allStepContent list_card_information col-12">
              <div class="documentInfo col-12" *ngIf="documentDataVal">
                <div class="listInformation col-12 p-0 pb-4" *ngFor="let list of documentDataVal;let i =index;">
                  <h1 class="titleList labelText">{{list.docName}}</h1>
                  <div class="col-12 allProof d-inline-block" *ngFor="let type of list.field;let j=index;">
                    <div class="inputField col-12 p-0">
                      <label class="col-12 labelText">{{type.fName}}
                        <em *ngIf="type.isManadatory == 1">*</em>
                      </label>
                      <input type="text" name="" *ngIf="type.fType == 1" (keyup)="documentTextList($event, i, j)"
                        (change)="documentTextList($event, i, j)" class="form-control borderInput focus" placeholder="{{type.fName}}">
                      <input type="text" name="date{{j}}" *ngIf="type.fType == 2" id="date{{j}}" (click)="futureDatePicker($event, i, j)"
                        class="form-control borderInput focus" placeholder="{{type.fName}}">
                      <input type="text" name="date{{j}}" *ngIf="type.fType == 4" id="date{{j}}" (click)="pastDatePicker($event, i, j)"
                        class="form-control borderInput focus" placeholder="{{type.fName}}">
                      <input type="file" name="" *ngIf="type.fType == 3" accept="image/*" (change)="documentUploadFile($event, i, j)"
                        class="form-control borderInput focus" style="width:80%;">
                      <div class="loaderSpin cartLoader inAddCart" *ngIf="type.loader" style="top: 60px;right: 11.5%;"></div>
                      <div class="imgFile" *ngIf="type.data && type.fType == 3">
                        <span class="closeImg" (click)="removeImgDoc(i, j)">X</span>
                        <img class="imgFiles col-12 p-0" src="{{type.data}}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="documentInfo col-12 text-center col-12 p-3" *ngIf="documentDataVal.length == 0">
                <img class="emptyList" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/noDocs.svg"
                  style="width: 180px;">
                <div class="col-12 p-0 colorGray"> {{'BECOMEPRO.fieldND' | translate}}</div>
              </div>
              <div class="btnList col-12 p-0 text-center mt-3">
                <span class="btnBecome" (click)="becomeStep3()">{{'BECOMEPRO.btnBa' | translate}}</span>
                <span class="btnBecome btnNext ml-2" (click)="noDocument()">{{'BECOMEPRO.btnFi' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="taskPartner needServices py-3 py-md-5">
    <div class="container">
      <div class="services_pro text-center">
        <div class="help_section sectionPro">
          <h3 class="title" style="line-height: 45px;">{{'BECOMEPRO.becomeT' | translate}}</h3>
        </div>
      </div>
      <div class="proVersion row m-0">
        <div class="text-center col-12 col-md-4 mb-3">
          <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/grow.png">
          <h3 class="titles">{{'BECOMEPRO.paraPT' | translate}}</h3>
          <p class="para text-center">{{'BECOMEPRO.paraCT' | translate}}</p>
        </div>
        <div class="text-center col-12 col-md-4 mb-3">
          <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/workstart.png">
          <h3 class="titles">{{'BECOMEPRO.paraPT1' | translate}}</h3>
          <p class="para text-center">{{'BECOMEPRO.paraCT1' | translate}}</p>

        </div>
        <div class="text-center col-12 col-md-4 mb-3">
          <img src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/business.png">
          <h3 class="titles">{{'BECOMEPRO.paraPT2' | translate}}</h3>
          <p class="para text-center">{{'BECOMEPRO.paraCT2' | translate}}</p>
        </div>
      </div>
    </div>
  </div>



</div>


<!-- order Submit -->
<div class="modal fade boxPopup" data-backdrop="static" id="orderSubmit" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h6 class="textTitle color">{{'BECOMEPRO.oST' | translate}}</h6>
      </div>
      <div class="col-12 p-0 row m-0">
        <span class="col-12 p-0 text-center">
          <button type="button" data-dismiss="modal" class="btn btnButton btnGreen col-12 col-md-4 focus" data-dismiss="modal"
            routerLink="">{{'BECOMEPRO.oSO' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- otp -->
<div class="modal fade boxPopup" data-backdrop="static" id="verificationOtp" role="dialog">
  <div class="modal-dialog modal-md" style="margin-top: 10%;">
    <div class="modal-content">
      <div class="modal-body text-center pb-0">
        <form class="col-12 p-0">
          <div class="inputBox mb-3">
            <label class="col-12 p-0 text-center">
              <b>{{'BECOMEPRO.verifyT' | translate}}</b>
            </label>
            <label class="col-12 p-0 text-center">
              {{'BECOMEPRO.verifyD' | translate}}
            </label>
            <input class="inpuText form-control focus" type="text" maxlength="4" name="OtpNumber" [(ngModel)]="OtpNumber"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          </div>
          <div class="countTimer mb-2" id="countdownPro" *ngIf="timer"></div>
          <div class="forgotText countTimer color cursor mb-2" *ngIf="!timer" (click)="resendOtp()">{{'BECOMEPRO.resendT' | translate}}</div>
        </form>
      </div>
      <div class="col-12 p-0 row m-0">
        <div class="text-danger col-12 p-0 my-2 text-center" *ngIf="errMsg">{{errMsg}}</div>
        <span class="col-12 p-0 text-center">
          <div class="loaderSpin headerLoader text-center" *ngIf="loaderList1" style="left: 47%;top: 6px;"></div>
          <button type="button" class="btn btnButton btnGreen col-12 col-md-4" (click)="registrationOtp()" [disabled]="!(OtpNumber)">{{'BECOMEPRO.btnC' | translate}}</button>
        </span>
      </div>
    </div>
  </div>
</div>