<div class="placeHolderShimmer col p-0" [hidden]="loaderList">
  <div class="linear-background slider mb-5"></div>
  <div class="container">
    <div class="carouselList" *ngFor="let list of shimmer">
      <div class="linear col">
        <div class="linear-background small mb-2"></div>
      </div>
      <div class="row m-0">
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
        <div class="linear col-6 col-sm-4 col-md-4 mb-5">
          <div class="linear-background big mb-2"></div>
          <div class="linear-background small mb-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="allListService col p-0" [hidden]="!loaderList">
  <div class="homePageCover">
    <!-- <div class="shadowOverImg"></div> -->
    <h1 class="titles" (click)="reviewPending()">{{'HOME.h1T' | translate}}
      <br> {{'HOME.h1sT' | translate}}
    </h1>
    <div class="col text-center searchList">
      <span class="cityList">
        <div class="dropdown cursor">
          <div class="dropdown-toggle" id="cityName" data-toggle="dropdown">
            {{cityName}}
          </div>
          <div class="dropdown-menu cityContent p-0 col" *ngIf="citys">
            <input type="text" name="" class="textSearch dropdown-item p-0 pl-3" #x (keyup)="filterSearch(x.value)"
              placeholder="{{'Home.city' | translate}}">
            <a class="dropdown-item" (click)="listCat(i)" *ngFor="let list of citys; let i = index;">{{list.city}}</a>
            <a class="dropdown-item" *ngIf="citys.length == 0">{{'Home.noRT' | translate}}</a>
          </div>
        </div>
      </span>
      <span class="searchInput">
        <img class="iconSearch" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/searchIcon.png">
        <input type="text" name="" value="" class="form-control inputSearch focus" name="searchCate" (blur)="blurSearch()"
          [(ngModel)]="searchCate" placeholder="{{'HOME.searchSer' | translate}}" #si (keyup)="searchCat(si.value)">
        <div class="catListSearch col-12 p-0" *ngIf="catSearch">
          <div class="col-12 allCatList p-0 m-0" *ngFor="let lists of catSearch;let k =index;">
            <ul class="listStyle m-0 col-12 p-0" *ngIf="lists.category">
              <li class="contentCat col-12" [class.active]="list.active" (click)="typeBooking(list)" *ngFor="let list of lists.category; let i =index;">{{list.cat_name}}</li>
            </ul>
          </div>
          <div class="col-12 allCatList p-0 m-0" *ngIf="catSearch && catSearch.length == 0">
            <li class="contentCat col listStyle">{{'HOME.noCat' | translate}}</li>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="allListCat col text-center p-0" *ngIf="trendingList && trendingList.length > 0">
    <div class="container">
      <div class="row m-0">
        <div class="col-4 col-md-2 p-0 catTrending" (click)="trendingService(list)" *ngFor="let list of trendingList; let i=index;">
          <div class="allImgCats cursor">
            <img class="imgCats" [defaultImage]="defaultTrending" [lazyLoad]="list.unSelectIconForWeb" [offset]="offset"
              onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Trbusser.svg'">
            <img class="imgCats hoverImg" src="{{list.selectIconForWeb}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/Trbusser.svg'">
            <div class="col-12 titleName textEllipse">{{list.categoryName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loaderSpin pageLoader" *ngIf="catLoaderList"></div>
  <!-- list category -->
  <div class="col-12 allCatService serviceSection" style="background-color: #F4F4F4;">
    <div class="container">
      <div class="allHomeList col-12 p-0">

        <!-- <div class="col-12 allCatList p-0" *ngIf="carouselTileRecommend && carouselTileRecommend.length > 0">
        <div class="col-12 p-0 titleGroups">
          <div class="titleList float-left">Recommended Services</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(carouselTileRecommend)">View All</div>
        </div>
        <ngx-carousel [inputs]="carouselRecommend" (carouselLoad)="carouselRecommendLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let list of carouselTileRecommend;let i =index;">
            <div class="allImgCat cursor">
              <img class="col imgCat" src="{{list.bannerImageWeb}}" alt="{{list.iconWebAlt}}" title="{{list.iconWebAlt}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/def.png'">
              <div class="col-12 titleName textEllipse" *ngIf="list.categoryName">{{list.categoryName}}</div>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs arrowList focus'>
            <i class="ion-chevron-left"></i>
          </button>
          <button NgxCarouselNext class='rightRs arrowList focus'>
            <i class="ion-chevron-right"></i>
          </button>
        </ngx-carousel>
      </div> -->

        <!-- <div class="col allCatList p-0" *ngFor="let lists of carouselTileItems;let i =index;">
        <h3 class="titleGroups" id="{{i}}Cat">{{lists.groupName}}</h3>
        <div class="col-12 p-0 titleGroups">
          <div class="titleList float-left">{{lists.groupName}}</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(lists.category)">View All</div>
        </div>
        <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let list of lists.category; let i =index;">
            <div class="allImgCat cursor" (click)="catService(list)">
              <img class="col imgCat" src="{{list.bannerImageWeb}}" alt="{{list.bannerImageAppAltText}}" title="{{list.bannerImageAppAltText}}">
              <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</div>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs arrowList focus'>
            <i class="ion-chevron-left"></i>
          </button>
          <button NgxCarouselNext class='rightRs arrowList focus'>
            <i class="ion-chevron-right"></i>
          </button>
        </ngx-carousel>
      </div> -->

        <div class="col allCatList p-0" *ngFor="let lists of carouselTileItems;let i =index;">
          <div class="help_section sectionPro">
            <h2 class="title pt-0">{{'HOME.ourS' | translate}}</h2>
          </div>
          <!-- <h2 class="titleGroups" id="{{i}}Cat">Our Services</h2> -->
          <!-- <div class="col-12 p-0 titleGroups d-none">
          <div class="titleList float-left">{{lists.groupName}}</div>
          <div class="viewAll float-right d-block d-sm-none" (click)="listCategoryAll(lists.category)">View All</div>
        </div> -->
          <div class="row m-0">
            <div class="col-6 mb-4 allListCity" [ngClass]="{odd:odd, even:even}" [class.col-md-8]="i == 0"
              [class.col-md-4]="i != 0" *ngFor="let list of lists.category; let i =index; let odd = odd; let even=even;">
              <div class="allImgCat cursor" (click)="typeBooking(list)">
                <img class="col imgCat" [defaultImage]="defaultImage" [lazyLoad]="list.bannerImageWeb" [offset]="offset"
                  alt="{{list.bannerImageAppAltText}}" title="{{list.bannerImageAppAltText}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/serviceEmpty.jpg'">
                <div class="col-12 titleName textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12 allCatList p-0 text-center" *ngIf="carouselTileItems && carouselTileItems.length == 0">
          <h3 class="colorGray">{{'HOME.noData' | translate}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- service pro section -->
  <div class="col-12 serviceSection howItWorks">
    <div class="container needServices">
      <div class="services_pro text-center">
        <div class="help_section sectionPro">
          <h2 class="title pt-0">{{'HOME.howIt' | translate}}</h2>
        </div>
      </div>
      <div class="proVersion row m-0">
        <div class="text-center col-12 col-md-4">
          <img class="howItImg imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt1.svg">
          <h3 class="titles">{{'HOME.pickT' | translate}}</h3>
          <p class="para">{{'HOME.pickST' | translate}}
          </p>
          <!-- <p class="para">- We verify and validate all go-tasker work qualification and criminal background.
          </p>
          <p class="para">- We only provide 4+star pros. All usera rate their pros, Pros that receive few bad ratings get taken off LSPro</p>
          <p class="para">We give you confidence on your provider choice</p> -->
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="howItImg imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt2.svg">
          <h3 class="titles">{{'HOME.bookI' | translate}}</h3>
          <p class="para">{{'HOME.bookST' | translate}}
          </p>
          <!-- <p class="para">- Use LSPro app to find and have a nearby pro at your home in less than 45mins.</p>
          <p class="para">- Get up to 5 quotes to compare and hire pro that provides the winning quote.</p>
          <p class="para">The choice is yours.</p> -->
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="howItImg imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt3.svg">
          <h3 class="titles">{{'HOME.youPS' | translate}}</h3>
          <p class="para">{{'HOME.youPST' | translate}}
          </p>
          <!-- <p class="para">- We only submit the money to the pro after you are completely satisfied.</p>
          <p class="para">- If you have any issue, contact us and we'll either send the pro back or send someone else OR remit the money
            to you.</p>
          <p class="para">We have vested interest to keep our users happy.</p> -->
        </div>
      </div>
    </div>
    <div class="container downloadapp d-none">
      <div class="help_section sectionPro">
        <h2 class="title">{{'HOME.getappT' | translate}}</h2>
      </div>
      <div class="col-12 text-center help_section">
        <span>
          <a target="_blank" href="#">
            <img class="appstore_link ml-3 mb-3" src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/appstore.png">
          </a>
        </span>
        <span>
          <a target="_blank" href="#">
            <img class="appstore_link ml-3 mb-3" src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/playstore.png">
          </a>
        </span>
      </div>
    </div>
  </div>

  <!-- review list -->

  <div class="col-12 serviceSection customerSection" style="background-color: #F4F4F4;">
    <div class="services_pro">
      <div class="container sectionPro">
        <div class="help_section">
          <h2 class="title">{{'HOME.reviewCT' | translate}}</h2>
        </div>
        <div class="col allCatList row reviewList m-0 p-0">
          <div class="reviewContent htre col-12 col-md-4">
            <h2 class="title text-left">{{'HOME.lovedBy' | translate}}</h2>
            <div class="reviewLists col-12 p-0 py-4">
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <span class="reviewCount para ">
                {{'HOME.reviewRa' | translate}}
              </span>
            </div>
            <p class="para text-left">{{'HOME.homeRP'| translate}}
            </p>
          </div>
          <div class="reviewImageList col-12 col-md-8">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- service pro section -->
  <div class="htre col-12 serviceSection">
    <div class="container needServices">
      <div class="services_pro text-center">
        <div class="help_section sectionPro">
          <h2 class="title">{{'HOME.increaseYT' | translate}}</h2>
        </div>
      </div>
      <div class="proVersion row m-0">
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt6.svg">
          <h3 class="titles">{{'HOME.greatPay' | translate}}</h3>
          <p class="para">{{'HOME.increasePT'  | translate}}
          </p>
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt5.svg">
          <h3 class="titles">{{'HOME.flexT' | translate}}</h3>
          <p class="para">{{'HOME.flexP' | translate}}
          </p>
        </div>
        <div class="text-center col-12 col-md-4 ">
          <img class="imgSvg" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/howIt4.svg">
          <h3 class="titles">{{'HOME.easyP' | translate}}</h3>
          <p class="para">{{'HOME.easyST' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="container downloadapp d-none">
      <div class="help_section sectionPro">
        <h2 class="title">{{'HOME.getappT' | translate}}</h2>
      </div>
      <div class="col-12 text-center help_section">
        <span>
          <a target="_blank" href="#">
            <img class="appstore_link ml-3 mb-3" src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/appstore.png">
          </a>
        </span>
        <span>
          <a target="_blank" href="#">
            <img class="appstore_link ml-3 mb-3" src="https://dji16gnzvk5qv.cloudfront.net/iserve2.0/images/playstore.png">
          </a>
        </span>
      </div>
    </div>
  </div>

  <!-- more reviews section  -->
  <div class="col-12 scrollpartse  text-center p-0">
    <div class="green-row join-now">
      <div class="container">
        <span class="paraText text-white">{{'HOME.areyP' | translate}}</span>
        <span class="joinNow" routerLink="./becomeatasker">{{'HOME.areyT' | translate}}</span>
      </div>
    </div>
  </div>


</div>


<!-- small screen view all categories -->
<div class="sidePopupOpen catpopupList" [class.transition]="categoryToggle">
  <div class="overlayList" [hidden]="!categoryToggle" (click)="listCategory()"></div>
  <div class="sideMenuList rightSide" *ngIf="catAll">
    <div class="loginSignupAll p-0">
      <div class="liCat">
        <span class="imgList ion-arrow-left-c cursor" (click)="listCategory()"> </span>
        <span class="title textEllipse" *ngIf="catAll[0].categoryName && !catAll[0].cat_name">
          <b>{{'HOME.recomendS' | translate}}</b>
        </span>
        <span class="title textEllipse" *ngIf="catAll[0].cat_name">
          <b>{{'HOME.categoryS' | translate}}</b>
        </span>
      </div>
      <div class="liCat cursor" *ngFor="let list of catAll">
        <span class="imgList">
          <img class="col p-0" src="{{list.bannerImageWeb}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/def.png'">
        </span>
        <span class="title textEllipse" *ngIf="list.categoryName && !list.cat_name">{{list.categoryName}}</span>
        <span class="title textEllipse" *ngIf="list.cat_name">{{list.cat_name}}</span>
      </div>
    </div>
  </div>
</div>


<!-- location & booking schedule -->
<div class="modal fade boxPopup" id="notaryTask" data-backdrop="static" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0">
      <div class="modal-header">
        <div class="col-12 p-0 text-center imgLogo" *ngIf="cLocation">
          <img alt="service genie" class="logoImg cursor focus" src="assets/images/logo.png" tabindex="0">
        </div>
        <h3 class="title col-12 p-0 text-center" *ngIf="!cLocation">{{catName}}</h3>
        <button type="button" class="close" *ngIf="!cLocation" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body locationList">
        <div class="allStepList col-12 p-0" [hidden]="locationLists">
          <div class="titleList paddingTitle text-center" *ngIf="!cLocation">{{'HOME.whereT' | translate}}</div>
          <div class="titleList paddingTitle text-center" *ngIf="cLocation">{{'HOME.selectC' | translate}}</div>

          <div class="searchList col-12 p-0" *ngIf="cLocation">
            <span class="cityList w-100 text-center mb-3">
              <div class="dropdown cursor">
                <div class="dropdown-toggle" data-toggle="dropdown">
                  {{cityName}}
                </div>
                <div class="dropdown-menu cityContent p-0 col" *ngIf="citys">
                  <input type="text" name="" class="textSearch dropdown-item p-0 pl-3" #x (keyup)="filterSearch(x.value)"
                    placeholder="{{'HOME.city' | translate}}">
                  <a class="dropdown-item" (click)="listCat(i)" *ngFor="let list of citys; let i = index;">{{list.city}}</a>
                  <a class="dropdown-item" *ngIf="citys.length == 0">{{'HOME.noRT' | translate}}</a>
                </div>
              </div>
            </span>
          </div>
          <div class="col-12 p-0 d-inline-block mb-3" *ngIf="cLocation">
            <div class="orLine col-12 p-0 text-center">{{'HOME.orT' | translate}}</div>
            <!-- <div class="curentPlace col-12" (click)="currentLocation()"> Current Location</div> -->
          </div>

          <div class="textInput col-12 p-0 d-inline-block">
            <div class="inputBox" [ngClass]="{successTxt:locAddress?.length > 0, errorTxt:locAddress?.length == 0}">
              <div class="loaderSpin cartLoader locateLoader" style="display:none;left: 45%;top: 12px;"></div>
              <input class="inpuText focus pt-0" name="locAddress" [(ngModel)]="locAddress" id="locatFill" (keyup)="locationSearch()"
                type="text" required="" placeholder="{{'HOME.location' | translate}}">
              <!-- <input class="inpuText focus pt-0" name="locAddress" *ngIf="cLocation" [(ngModel)]="locAddress" id="locatFill"
                (keyup)="locationSearch()" type="text" required="" placeholder="Select city..."> -->
              <input type="hidden" name="" value="" id="latS" class="headerSearch form-control">
              <input type="hidden" name="" value="" id="lngS" class="headerSearch form-control">
              <!-- <label>Fill Location</label> -->
              <div class="currentLocation">
                <!-- <img class="LocateIcons" src="https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/locate.svg"> -->
                <i class="fas fa-times locatIcons bg-white text-danger" (click)="closeLocation()"></i>
                <i class="fas fa-location-arrow locatIcons" title="Current Location" (click)="currentLocation()"></i>
              </div>
            </div>
            <div class="text-center col-12 p-0 text-danger my-2" *ngIf="locAddress?.length == 0">{{'HOME.plzEnter' | translate}}</div>
          </div>
        </div>

        <div class="allStepList col-12 p-0" [hidden]="!locationLists">
          <div class="titleList text-center">{{'HOME.bookingT' | translate}}</div>
          <div class="bookingForm col p-0 row m-0" *ngIf="bookingList">
            <div class="asaSchedule col-4" (click)="asapSchedules(0)" *ngIf="bookingList.bookingTypeAction.now == true">
              <div class="titleContent col-12" [class.active]="!asapSchedule">
                <div class="title">{{'HOME.asap' | translate}}</div>
                <div class="titles">{{'HOME.rightN' | translate}}</div>
              </div>
            </div>
            <div class="asaSchedule col-4" (click)="asapSchedules(1)" *ngIf="bookingList.bookingTypeAction.schedule == true">
              <div class="titleContent col-12" [class.active]="asapSchedule">
                <div class="title">{{'HOME.schedule' | translate}}</div>
                <div class="titles">{{'HOME.selectD' | translate}}</div>
              </div>
            </div>
            <!-- <div class="asaSchedule col-4" *ngIf="bookingList.bookingTypeAction.repeat == true">
              <div class="titleContent active col-12">
                <div class="title">SUBSCRIBE</div>
                <div class="titles">Select Schedule</div>
              </div>
            </div> -->
          </div>
          <div class="col-12 p-0 selectDateTime" [hidden]="!asapSchedule">
            <div class="titleList text-center col-12">{{'HOME.selectDate' | translate}}</div>
            <div class="col-12 p-0 selectDate row m-0">
              <div class="asaSchedule col-4" *ngFor="let list of sendDate;let i = index">
                <div class="titleContent col-12" [class.active]="list.active" (click)="selectDate(i)">
                  <div class="titles">{{list.day}}</div>
                  <div class="title">{{list.date}}</div>
                </div>
              </div>
              <div class="asaSchedule col-4">
                <div class="titleContent col-12" [class.otherDate]="otherDate" (click)="selectDate('Ds')">
                  <div class="titles">{{'HOME.othersT' | translate}}</div>
                  <input class="form-control BtypePicker" name="pickup_date" type="text" placeholder="yyyy-mm-dd">
                </div>
              </div>
            </div>
            <div class="col-12 p-0 selectTime">
              <div class="titleList text-center">{{'HOME.selectT' | translate}}</div>
              <input class="form-control BtypeTimePicker" name="pickup_time" type="text" placeholder="hh:ss">
            </div>
            <div class="col-12 p-0 selectTime mt-3">
              <div class="titleList text-center">{{'HOME.addNHrs' | translate}}</div>
              <div class="col-12 p-0 text-center cursor addHours">
                <span class="qtyAdd" (click)="addHour(-1)">-</span>
                <span class="qtyNos qtyAdd color">{{count}}</span>
                <span class="qtyAdd" (click)="addHour(1)">+</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-0 border-0" [class.active]="!locationLists">
        <div class="col-12 btnNext footerNext" *ngIf="!cLocation">
          <span class="col-12 p-0 float-right" [class.col-sm-3]="!locationLists" [class.col-sm-6]="locationLists">
            <button type="button" class="btn btnButton btnGreen col-12" *ngIf="!locationLists" (click)="bookingListSchedule()">{{'HOME.next' | translate}}</button>
            <button type="button" class="btn btnButton mr-2 col-5" *ngIf="locationLists" (click)="locationLists = !locationLists">{{'HOME.back' | translate}}</button>
            <button type="button" class="btn btnButton btnGreen col-6" *ngIf="locationLists" data-dismiss="modal"
              (click)="dateChange()">{{'HOME.next' | translate}}</button>
          </span>
        </div>
        <div class="col-12 btnNext footerNext" *ngIf="cLocation">
          <span class="col-12 col-sm-6 p-0 float-right">
            <button type="button" class="btn btnButton btnGreen col-12" (click)="submitLocate()">{{'HOME.submit' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- rating List View -->
<div class="modal fade boxPopup" id="reviewProvider" data-backdrop="static" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content p-0" *ngIf="!reviewSuccess">
      <div class="cartList col-12 mt-2 mt-md-0 p-3" *ngIf="bInvoice" [ngClass]="{transform:popupCart}">
        <div class="shadowContent"></div>
        <div class="cancelList cursor text-danger" *ngIf="popupCart" (click)="popupCart = !popupCart">x</div>
        <h5 class="titleItem m-0">{{'HOME.receiptT' | translate}}</h5>
        <div class="addressCart col-12">
          {{bInvoice.addLine1}}
        </div>
        <div class="cartData col-12 m-0 boxCheckout p-0">
          <div class="cartDataContent col-12 p-0">
            <ul class="detailsRestaurant m-0 p-0" id="" *ngIf="bInvoice.cartData">
              <h5 class="titleItem text-left">{{'HOME.billDetails' | translate}}</h5>
              <!-- <div class="shadowCart"></div> -->
              <li class="foodDeatils row m-0" [class.pt-0]="cartIndex == 0" [class.pt-2]="cartIndex != 0" *ngFor="let item of bInvoice.cartData.item; let cartIndex = index">
                <span class="pricedetailsleft text-left col-8 p-0 textEllipse">{{item.serviceName}} x{{item.quntity}}
                </span>
                <span class="pricedetails col-4 p-0 text-right">
                  <span class="prices" id="plusCartprice">{{bInvoice.currencySymbol}} {{(item.amount).toFixed(2)}}</span>
                </span>
              </li>
              <div class="col-12 p-0 additionalService" *ngIf="bInvoice.additionalService && bInvoice.additionalService.length > 0">
                <li class="foodDeatils row m-0 pt-2" *ngFor="let item of bInvoice.additionalService; let cartIndex = index">
                  <span class="pricedetailsleft text-left col-8 p-0 textEllipse">{{item.serviceName}}
                  </span>
                  <span class="pricedetails col-4 p-0 text-right">
                    <span class="price" id="plusCartprice">{{bInvoice.currencySymbol}} {{item.price}}</span>
                  </span>
                </li>
              </div>
            </ul>
            <div class="totalCharge col-12 p-0 my-2">
              <hr class="line col-12 p-0 my-1">
              <div class="itemCharge col-12 p-0">
                <div class="total text-left">{{'HOME.itemTotal' | translate}} </div>
                <div class="priceList font-weight-normal">{{bInvoice.currencySymbol}} {{bInvoice.accounting.total}}</div>
              </div>
              <hr class="line col-12 p-0 my-1">
            </div>
            <h5 class="titleItem text-left">{{'HOME.sign' | translate}}</h5>
            <img class="urlSignList col-12 p-0" src="{{bInvoice.signURL}}" onerror="this.src='assets/images/signature.png'">
          </div>
        </div>
      </div>
      <div class="modalHeader text-center" *ngIf="!popupCart">
        <div class="title mt-3 col-12 p-0">
          <b>{{'HOME.yourLastB' | translate}}</b>
        </div>
        <div class="title col-12 p-0 mb-3" *ngIf="bInvoice">{{bInvoice.bookingRequestedFor}}</div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reviewList locationList p-3" *ngIf="bInvoice && !popupCart" style="background-color: #f7f8fa;">
        <div class="contentReview col-12 mb-3">
          <div class="title">
            <b>{{'HOME.totalBill' | translate}}</b>
          </div>
          <div class="price">{{bInvoice.currencySymbol}} {{bInvoice.accounting.total}}</div>
          <div class="btnRecipt" (click)="popupCart = !popupCart">Receipt</div>
        </div>
        <div class="contentReview col-12 mb-3">
          <div class="title">{{'HOME.reateEx' | translate}}</div>
          <div class="imgProvider">
            <img src="{{bInvoice.providerData.profilePic}}" onerror="this.src='https://d2qb2fbt5wuzik.cloudfront.net/iserve_goTasker/images/defaultPerson.png'">
          </div>
          <div class="title">{{bInvoice.providerData.firstName}} {{bInvoice.providerData.lastName}}</div>
        </div>
        <div class="contentReviews col-12 p-0" *ngIf="bInvoice.customerRating">
          <div class="reviewContent" *ngFor="let list of bInvoice.customerRating; let i = index;">
            <div class="titleCustomer col-12">
              {{list.name}}
            </div>
            <div class="ratingStar col-12 p-0">
              <span class="star-cb-group">
                <input type="radio" id="rating-5{{i}}" [checked]="list.rating > 4" name="rating{{i}}" value="5" (click)="show_rating_txt(5, list, i)" />
                <label for="rating-5{{i}}">5</label>
                <input type="radio" id="rating-4{{i}}" name="rating{{i}}" value="4" (click)="show_rating_txt(4, list, i)" />
                <label for="rating-4{{i}}">4</label>
                <input type="radio" id="rating-3{{i}}" name="rating{{i}}" value="3" (click)="show_rating_txt(3, list, i)" />
                <label for="rating-3{{i}}">3</label>
                <input type="radio" id="rating-2{{i}}" name="rating{{i}}" value="2" (click)="show_rating_txt(2, list, i)" />
                <label for="rating-2{{i}}">2</label>
                <input type="radio" id="rating-1{{i}}" name="rating{{i}}" value="1" (click)="show_rating_txt(1, list, i)" />
                <label for="rating-1{{i}}">1</label>
                <input type="radio" id="rating-0{{i}}" name="rating{{i}}" value="0" class="star-cb-clear" />
                <label for="rating-0{{i}}">0</label>
              </span>
            </div>
          </div>
        </div>
        <div class="contentReview col-12 p-0">
          <input type="text" name="reviewMsg" [(ngModel)]="reviewMsg" class="form-control inputRate focus" placeholder="{{'HOME.write' | translate}}">
        </div>
      </div>
      <div class="modal-footer p-0 border-0" *ngIf="!popupCart">
        <div class="col-12 btnNext footerNext text-center">
          <h5 class="text-center text-danger" *ngIf="reviewErr">{{reviewErr}}</h5>
          <span class="col-12 p-0">
            <div class="loaderSpin headerLoader" *ngIf="loaderLists" style="left: 45%;"></div>
            <button type="button" class="btn btnButton btnGreen col-6" (click)="reviewSubmitList()">{{'HOME.submitT' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-content p-3" *ngIf="reviewSuccess">
      <div class="modal-body text-center">
        <p class="paraText m-0">{{'HOME.dropFeed' | translate}}</p>
      </div>
    </div>
  </div>
</div>